/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/* ---------- Color Module Styles ----------- */
.md-gray {
  background-color: #e3e3e3; }

.md-link-color-on-p {
  color: #212121; }

.md-link-color-on-s {
  color: #fff; }

.md-primary {
  background-color: #1976d2; }
  .md-primary-dark {
    background-color: #004ba0; }
  .md-primary-light {
    background-color: #63a4ff; }

.md-secondary {
  background-color: #b0bec5; }
  .md-secondary-dark {
    background-color: #808e95; }
  .md-secondary-light {
    background-color: #e2f1f8; }

.md-text-on-primary {
  color: #212121; }

.md-text-on-secondary {
  color: #fff; }

body {
  background-color: #fff;
  color: #212121; }

a,
.link {
  color: #1976d2;
  font-weight: bolder;
  letter-spacing: 0.0625rem;
  line-height: 1; }
  a.is-active, a:active, a:focus,
  .link.is-active,
  .link:active,
  .link:focus {
    outline: #1976d2; }
  a:hover,
  .link:hover {
    color: #1976d2;
    text-decoration: underline; }

form,
.form {
  background-color: #e3e3e3;
  border: thin solid #8a8a8a; }

button,
.button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

form,
.form {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

footer,
.top-bar,
.title-bar {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4); }

.menu-local-tasks, .menu-tools {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.required::after {
  color: #f28072; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #212121; }

.accordion a {
  color: #004ba0;
  font-weight: bolder;
  letter-spacing: 0.0625rem;
  line-height: 1; }
  .accordion a.is-active, .accordion a:active, .accordion a:focus {
    outline: #1976d2; }
  .accordion a:hover {
    color: #004ba0;
    text-decoration: underline; }

.branding-container a {
  color: #fff; }
  .branding-container a svg {
    fill: #fff; }
  .branding-container a p {
    color: #fff; }

.top-bar.menubar,
.title-bar.menubar {
  background-color: #1976d2; }
  .top-bar.menubar ul.menu,
  .title-bar.menubar ul.menu {
    background-color: transparent; }
  .top-bar.menubar ul.dropdown.menu a,
  .title-bar.menubar ul.dropdown.menu a {
    color: #1976d2;
    font-weight: bolder;
    letter-spacing: 0.0625rem;
    line-height: 1; }
    .top-bar.menubar ul.dropdown.menu a.is-active, .top-bar.menubar ul.dropdown.menu a:active, .top-bar.menubar ul.dropdown.menu a:focus,
    .title-bar.menubar ul.dropdown.menu a.is-active,
    .title-bar.menubar ul.dropdown.menu a:active,
    .title-bar.menubar ul.dropdown.menu a:focus {
      outline: #1976d2; }
    .top-bar.menubar ul.dropdown.menu a:hover,
    .title-bar.menubar ul.dropdown.menu a:hover {
      color: #1976d2;
      text-decoration: underline; }
  .top-bar.menubar li a,
  .title-bar.menubar li a {
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.0625rem;
    line-height: 1; }
    .top-bar.menubar li a.is-active, .top-bar.menubar li a:active, .top-bar.menubar li a:focus,
    .title-bar.menubar li a.is-active,
    .title-bar.menubar li a:active,
    .title-bar.menubar li a:focus {
      outline: #1976d2; }
    .top-bar.menubar li a:hover,
    .title-bar.menubar li a:hover {
      color: #fff;
      text-decoration: underline; }

.top-bar.actionbar,
.title-bar.actionbar {
  background-color: #e2f1f8; }
  .top-bar.actionbar ul,
  .title-bar.actionbar ul {
    background-color: transparent; }
    .top-bar.actionbar ul li.is-active > a,
    .title-bar.actionbar ul li.is-active > a {
      background-color: #b0bec5; }
    .top-bar.actionbar ul li a,
    .title-bar.actionbar ul li a {
      color: #fff;
      font-weight: bolder;
      letter-spacing: 0.0625rem;
      line-height: 1; }
      .top-bar.actionbar ul li a.is-active, .top-bar.actionbar ul li a:active, .top-bar.actionbar ul li a:focus,
      .title-bar.actionbar ul li a.is-active,
      .title-bar.actionbar ul li a:active,
      .title-bar.actionbar ul li a:focus {
        outline: #1976d2; }
      .top-bar.actionbar ul li a:hover,
      .title-bar.actionbar ul li a:hover {
        color: #fff;
        text-decoration: underline; }

.sidebar {
  background-color: #e2f1f8; }
  .sidebar.block {
    background-color: #e2f1f8;
    border-color: #1976d2; }

.footer.wrapper {
  background-color: #b0bec5;
  color: #fff; }
  .footer.wrapper span,
  .footer.wrapper span > a,
  .footer.wrapper li > a {
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.0625rem;
    line-height: 1; }
    .footer.wrapper span.is-active, .footer.wrapper span:active, .footer.wrapper span:focus,
    .footer.wrapper span > a.is-active,
    .footer.wrapper span > a:active,
    .footer.wrapper span > a:focus,
    .footer.wrapper li > a.is-active,
    .footer.wrapper li > a:active,
    .footer.wrapper li > a:focus {
      outline: #1976d2; }
    .footer.wrapper span:hover,
    .footer.wrapper span > a:hover,
    .footer.wrapper li > a:hover {
      color: #fff;
      text-decoration: underline; }

.field-user-picture i {
  background-color: #004ba0;
  color: #fff; }

.message-text {
  color: #212121; }

.node-content-header {
  background-color: #63a4ff;
  color: #212121; }

.region-branding a {
  color: #fff; }

.region-titlebar-left a, .region-titlebar-right a {
  color: #fff; }

.search-result.container {
  border-bottom: thin solid #004ba0; }

.search-result.title {
  border-right: medium solid #004ba0; }

.user-data figure.thumbnail {
  border: solid thin #004ba0;
  box-shadow: 0 0.125rem 0.3125rem 0 #8a8a8a, 0 0.125rem 0.625rem 0 #e3e3e3; }

/* ---------- Color Form ----------- */
[dir='rtl'].color-form.form-item label {
  float: right; }

[dir='rtl'].color-form.color-palette {
  margin-left: 0;
  margin-right: 0.5rem; }
  [dir='rtl'].color-form.color-palette.lock {
    left: 0;
    right: -0.5rem; }
