@charset "UTF-8";
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/* ---------- Color Module Styles ----------- */
.md-gray {
  background-color: #e3e3e3; }

.md-link-color-on-p {
  color: #212121; }

.md-link-color-on-s {
  color: #fff; }

.md-primary {
  background-color: #1976d2; }
  .md-primary-dark {
    background-color: #004ba0; }
  .md-primary-light {
    background-color: #63a4ff; }

.md-secondary {
  background-color: #b0bec5; }
  .md-secondary-dark {
    background-color: #808e95; }
  .md-secondary-light {
    background-color: #e2f1f8; }

.md-text-on-primary {
  color: #212121; }

.md-text-on-secondary {
  color: #fff; }

body {
  background-color: #fff;
  color: #212121; }

a,
.link {
  color: #1976d2;
  font-weight: bolder;
  letter-spacing: 0.0625rem;
  line-height: 1; }
  a.is-active, a:active, a:focus,
  .link.is-active,
  .link:active,
  .link:focus {
    outline: #1976d2; }
  a:hover,
  .link:hover {
    color: #1976d2;
    text-decoration: underline; }

form,
.form {
  background-color: #e3e3e3;
  border: thin solid #8a8a8a; }

button,
.button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

form,
.form {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

footer,
.top-bar,
.title-bar {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4); }

.menu-local-tasks, .menu-tools {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4); }

.required::after {
  color: #f28072; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: #212121; }

.accordion a {
  color: #004ba0;
  font-weight: bolder;
  letter-spacing: 0.0625rem;
  line-height: 1; }
  .accordion a.is-active, .accordion a:active, .accordion a:focus {
    outline: #1976d2; }
  .accordion a:hover {
    color: #004ba0;
    text-decoration: underline; }

.branding-container a {
  color: #fff; }
  .branding-container a svg {
    fill: #fff; }
  .branding-container a p {
    color: #fff; }

.top-bar.menubar,
.title-bar.menubar {
  background-color: #1976d2; }
  .top-bar.menubar ul.menu,
  .title-bar.menubar ul.menu {
    background-color: transparent; }
  .top-bar.menubar ul.dropdown.menu a,
  .title-bar.menubar ul.dropdown.menu a {
    color: #1976d2;
    font-weight: bolder;
    letter-spacing: 0.0625rem;
    line-height: 1; }
    .top-bar.menubar ul.dropdown.menu a.is-active, .top-bar.menubar ul.dropdown.menu a:active, .top-bar.menubar ul.dropdown.menu a:focus,
    .title-bar.menubar ul.dropdown.menu a.is-active,
    .title-bar.menubar ul.dropdown.menu a:active,
    .title-bar.menubar ul.dropdown.menu a:focus {
      outline: #1976d2; }
    .top-bar.menubar ul.dropdown.menu a:hover,
    .title-bar.menubar ul.dropdown.menu a:hover {
      color: #1976d2;
      text-decoration: underline; }
  .top-bar.menubar li a,
  .title-bar.menubar li a {
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.0625rem;
    line-height: 1; }
    .top-bar.menubar li a.is-active, .top-bar.menubar li a:active, .top-bar.menubar li a:focus,
    .title-bar.menubar li a.is-active,
    .title-bar.menubar li a:active,
    .title-bar.menubar li a:focus {
      outline: #1976d2; }
    .top-bar.menubar li a:hover,
    .title-bar.menubar li a:hover {
      color: #fff;
      text-decoration: underline; }

.top-bar.actionbar,
.title-bar.actionbar {
  background-color: #e2f1f8; }
  .top-bar.actionbar ul,
  .title-bar.actionbar ul {
    background-color: transparent; }
    .top-bar.actionbar ul li.is-active > a,
    .title-bar.actionbar ul li.is-active > a {
      background-color: #b0bec5; }
    .top-bar.actionbar ul li a,
    .title-bar.actionbar ul li a {
      color: #fff;
      font-weight: bolder;
      letter-spacing: 0.0625rem;
      line-height: 1; }
      .top-bar.actionbar ul li a.is-active, .top-bar.actionbar ul li a:active, .top-bar.actionbar ul li a:focus,
      .title-bar.actionbar ul li a.is-active,
      .title-bar.actionbar ul li a:active,
      .title-bar.actionbar ul li a:focus {
        outline: #1976d2; }
      .top-bar.actionbar ul li a:hover,
      .title-bar.actionbar ul li a:hover {
        color: #fff;
        text-decoration: underline; }

.sidebar {
  background-color: #e2f1f8; }
  .sidebar.block {
    background-color: #e2f1f8;
    border-color: #1976d2; }

.footer.wrapper {
  background-color: #b0bec5;
  color: #fff; }
  .footer.wrapper span,
  .footer.wrapper span > a,
  .footer.wrapper li > a {
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.0625rem;
    line-height: 1; }
    .footer.wrapper span.is-active, .footer.wrapper span:active, .footer.wrapper span:focus,
    .footer.wrapper span > a.is-active,
    .footer.wrapper span > a:active,
    .footer.wrapper span > a:focus,
    .footer.wrapper li > a.is-active,
    .footer.wrapper li > a:active,
    .footer.wrapper li > a:focus {
      outline: #1976d2; }
    .footer.wrapper span:hover,
    .footer.wrapper span > a:hover,
    .footer.wrapper li > a:hover {
      color: #fff;
      text-decoration: underline; }

.field-user-picture i {
  background-color: #004ba0;
  color: #fff; }

.message-text {
  color: #212121; }

.node-content-header {
  background-color: #63a4ff;
  color: #212121; }

.region-branding a {
  color: #fff; }

.region-titlebar-left a, .region-titlebar-right a {
  color: #fff; }

.search-result.container {
  border-bottom: thin solid #004ba0; }

.search-result.title {
  border-right: medium solid #004ba0; }

.user-data figure.thumbnail {
  border: solid thin #004ba0;
  box-shadow: 0 0.125rem 0.3125rem 0 #8a8a8a, 0 0.125rem 0.625rem 0 #e3e3e3; }

/* ---------- Color Form ----------- */
[dir='rtl'].color-form.form-item label {
  float: right; }

[dir='rtl'].color-form.color-palette {
  margin-left: 0;
  margin-right: 0.5rem; }
  [dir='rtl'].color-form.color-palette.lock {
    left: 0;
    right: -0.5rem; }

/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility; }

em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 80%;
  line-height: inherit; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility; }
  h1 small, .h1 small,
  h2 small, .h2 small,
  h3 small, .h3 small,
  h4 small, .h4 small,
  h5 small, .h5 small,
  h6 small, .h6 small {
    line-height: 0;
    color: #212121; }

h1, .h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h2, .h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h3, .h3 {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h5, .h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

h6, .h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem; }

@media print, screen and (min-width: 40em) {
  h1, .h1 {
    font-size: 3rem; }
  h2, .h2 {
    font-size: 2.5rem; }
  h3, .h3 {
    font-size: 1.9375rem; }
  h4, .h4 {
    font-size: 1.5625rem; }
  h5, .h5 {
    font-size: 1.25rem; }
  h6, .h6 {
    font-size: 1rem; } }

a {
  line-height: inherit;
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: #fff; }
  a img {
    border: 0; }

hr {
  clear: both;
  max-width: 75rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #18405b;
  border-left: 0; }

ul,
ol,
dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6; }

li {
  font-size: inherit; }

ul {
  margin-left: 1.25rem;
  list-style-type: disc; }

ol {
  margin-left: 1.25rem; }

ul ul, ol ul, ul ol, ol ol {
  margin-left: 1.25rem;
  margin-bottom: 0; }

dl {
  margin-bottom: 1rem; }
  dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold; }

blockquote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-left: 1px solid #18405b; }
  blockquote, blockquote p {
    line-height: 1.6;
    color: #a3a3a3; }

cite {
  display: block;
  font-size: 0.8125rem;
  color: #a3a3a3; }
  cite:before {
    content: "— "; }

abbr, abbr[title] {
  border-bottom: 1px dotted #212121;
  cursor: help;
  text-decoration: none; }

figure {
  margin: 0; }

code {
  padding: 0.125rem 0.3125rem 0.0625rem;
  border: 1px solid #18405b;
  background-color: white;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #212121; }

kbd {
  margin: 0;
  padding: 0.125rem 0.25rem 0;
  background-color: #e3e3e3;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  color: #212121; }

.subheader {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  line-height: 1.4;
  color: #b0bec5; }

.lead {
  font-size: 125%;
  line-height: 1.6; }

.stat {
  font-size: 2.5rem;
  line-height: 1; }
  p + .stat {
    margin-top: -1rem; }

ul.no-bullet, ol.no-bullet {
  margin-left: 0;
  list-style: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

@media print, screen and (min-width: 40em) {
  .medium-text-left {
    text-align: left; }
  .medium-text-right {
    text-align: right; }
  .medium-text-center {
    text-align: center; }
  .medium-text-justify {
    text-align: justify; } }

@media print, screen and (min-width: 64em) {
  .large-text-left {
    text-align: left; }
  .large-text-right {
    text-align: right; }
  .large-text-center {
    text-align: center; }
  .large-text-justify {
    text-align: justify; } }

.show-for-print {
  display: none !important; }

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important; }
  .show-for-print {
    display: block !important; }
  .hide-for-print {
    display: none !important; }
  table.show-for-print {
    display: table !important; }
  thead.show-for-print {
    display: table-header-group !important; }
  tbody.show-for-print {
    display: table-row-group !important; }
  tr.show-for-print {
    display: table-row !important; }
  td.show-for-print {
    display: table-cell !important; }
  th.show-for-print {
    display: table-cell !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: ''; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  pre,
  blockquote {
    border: 1px solid #bdbdbd;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .print-break-inside {
    page-break-inside: auto; } }

.page-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase; }

/* ---------- Preview Styles ----------- */
.js.color-preview {
  clear: both;
  float: none !important; }

.color-preview {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 100%;
  line-height: 24px;
  margin-bottom: 0.625rem;
  overflow: hidden;
  word-wrap: break-word; }
  .color-preview div.preview-content {
    margin-top: 1rem;
    padding: 0.5rem; }
  .color-preview.preview-block-menu.preview-content,
  .color-preview.preview-block-menu.preview-content ul {
    margin-top: 0; }
  .color-preview div.branding-container a {
    color: #fff; }
    .color-preview div.branding-container a img {
      fill: #e3e3e3; }
    .color-preview div.branding-container a p {
      color: #fff; }
  .color-preview-content {
    flex: 1 1 0px;
    width: auto;
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
    .color-preview-content h1 {
      padding: 0.5rem; }
  .color-preview-footer-columns h2 {
    border-bottom: 1px solid #555;
    border-color: rgba(255, 255, 255, 0.15);
    font-size: 16px;
    padding-bottom: 3px;
    text-transform: uppercase; }
  .color-preview-footer-columns.preview-content {
    margin-top: 0; }
    .color-preview-footer-columns.preview-content ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
      padding-left: 0; }
      [data-whatinput='mouse'] .color-preview-footer-columns.preview-content ul li {
        outline: 0; }
      .color-preview-footer-columns.preview-content ul a,
      .color-preview-footer-columns.preview-content ul .button {
        line-height: 1;
        text-decoration: none;
        display: block;
        padding: 0.7rem 1rem; }
      .color-preview-footer-columns.preview-content ul input,
      .color-preview-footer-columns.preview-content ul select,
      .color-preview-footer-columns.preview-content ul a,
      .color-preview-footer-columns.preview-content ul button {
        margin-bottom: 0; }
      .color-preview-footer-columns.preview-content ul input {
        display: inline-block; }
      .color-preview-footer-columns.preview-content ul li {
        display: flex;
        justify-content: center; }
        .color-preview-footer-columns.preview-content ul li .submenu li {
          justify-content: flex-start; }
    .color-preview-footer-columns.preview-content li a {
      border-bottom: 1px solid #555;
      border-color: rgba(255, 255, 255, 0.15);
      display: block;
      line-height: 1.2;
      padding: 0.8em 2px 0.8em 20px;
      text-indent: -15px; }
      .color-preview-footer-columns.preview-content li a:hover, .color-preview-footer-columns.preview-content li a:focus {
        background-color: #1f1f21;
        background-color: rgba(255, 255, 255, 0.05);
        text-decoration: none; }
  .color-preview-footer-wrapper {
    color: #c0c0c0;
    color: rgba(255, 255, 255, 0.65);
    display: block !important;
    font-size: 0.857em;
    padding: 20px 20px 25px; }
    .color-preview-footer-wrapper a {
      color: #fcfcfc;
      color: rgba(255, 255, 255, 0.8); }
      .color-preview-footer-wrapper a:hover, .color-preview-footer-wrapper a:focus {
        color: #fefefe;
        color: rgba(255, 255, 255, 0.95);
        text-decoration: underline; }
    .color-preview-footer-wrapper.preview-block {
      border: 1px solid #444;
      border-color: rgba(255, 255, 255, 0.1);
      margin: 20px 0;
      padding: 10px; }
      .color-preview-footer-wrapper.preview-block-menu {
        border: none;
        margin: 0;
        padding: 0; }
    .color-preview-footer-wrapper.preview-footer-column {
      display: inline;
      float: left;
      padding: 0 10px;
      position: relative;
      width: 220px; }
  .color-preview-header {
    background-color: #1976d2;
    position: relative; }
    .color-preview-header.top-bar ul {
      background-color: transparent; }
      .color-preview-header.top-bar ul a {
        color: #fff; }
  .color-preview-link {
    background-color: #1976d2; }
  .color-preview-logo {
    float: left;
    padding: 15px; }
  .color-preview-main {
    margin-bottom: 40px;
    margin-top: 20px; }
  .color-preview-navbar-menu {
    background-color: #1976d2; }
  .color-preview-node {
    padding: 0.5rem; }
  .color-preview-page-title {
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    margin: 1em 0 .5em; }
  .color-preview-sidebar, .color-preview-content {
    display: inline;
    float: left;
    position: relative; }
  .color-preview-sidebar {
    width: 210px; }
    .color-preview-sidebar h2 {
      border-bottom: 1px solid #d6d6d6;
      font-size: 16px;
      font-weight: normal;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: 0.5rem; }
    .color-preview-sidebar.preview-block {
      border: 0.0625rem solid;
      margin: 1.25rem 0;
      padding: 0.95rem 1.25rem; }
  .color-preview-site-name {
    color: #004ba0;
    font-size: 18.72px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 1.8rem;
    margin-left: 0.9375rem;
    padding-top: 1.8rem; }

[dir="rtl"].color-preview-footer-columns.preview-content ul {
  margin-right: 0;
  padding-right: 0; }

[dir="rtl"].color-preview-footer-columns.preview-content li a {
  padding-left: 0.125rem;
  padding-right: 1.25rem; }

[dir="rtl"].color-preview-footer-wrapper.preview-footer-column {
  float: right; }

[dir="rtl"].color-preview-site-name {
  padding-left: 0;
  padding-right: 0.9375rem; }

[dir="rtl"].color-preview-sidebar, [dir="rtl"].color-preview-content {
  float: right; }
