{#
/**
 * @file
 * Yeti theme implementation for a theme's color form.
 *
 * Available variables:
 * - form: Form elements for the color scheme form, including:
 *   - scheme: A color scheme form element. For example: a select element with
 *     color theme presets, or a color picker widget.
 *   - palette: Color fields that can be changed by entering in a new hex value.
 * - html_preview: A HTML preview of the theme's current color scheme.
 *
 * @see template_preprocess_color_scheme_form()
 *
 * @ingroup themeable
 */
#}

<div class="color-form">
  {{ form.scheme }}
  <div class="color-palette js-color-palette">
    {{ form.palette }}
  </div>
  <div class=""></div>
  {{ form|without('scheme', 'palette') }}
  <section class="yeti-color-form-preview">
    <h2>{{ 'Preview'|t }}</h2>
    {{ html_preview }}
  </section>
</div>
