{#
/**
 * @file
 * Yeti theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('yeti/form') }}

{%
  set classes = [
    'form',
  ]
%}

<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
