{#
/**
 * @file
 * Yeti theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
{%
  set submit_button_classes = [
    'button--success',
  ]
%}
<input{{ attributes.addClass(submit_button_classes) }} />{{ children }}
