/// Typography for Yeti theme.
@import '../../settings'
@import foundation


.footer

  &.main
    padding: $global-padding

  &.wrapper
    margin-left: 0
    margin-right: 0

    & span,
    & span > a,
    & li > a
      font-size: $footer-menu-font-size
