@import '../../settings'
@import foundation

.dropbutton

  & li
    display: inline-flex
    height: inherit

  &-action
    margin-bottom: $global-margin * .5
    margin-top: $global-margin * .25

  &-arrow
    color: $black

  &-toggle

    & button
      height: inherit

  &-widget
    +button(false, $md-secondary, $md-secondary-dark, $white, solid)
    padding: 0 $global-padding

    & li.dropbutton-action
      letter-spacing: rem-calc(1)
      padding: rem-calc(4) rem-calc(25)

      & a
        color: $black
        font-weight: normal
        padding: 0

        &:active,
        &:focus,
        &:hover
          color: $black
          font-weight: bolder
          text-decoration: underline
          text-decoration-color: $md-secondary-light
