@import '../../settings'
@import foundation
@import grid


.maintenance
  +xy-grid
  border: thin solid $md-secondary-dark

  &-container
    +xy-grid-container
    margin-top: 5vh

  &-footer
    +xy-cell(12, false, 0)
    font-size: $lead-font-size
    margin: 0
    padding: $global-padding
    text-align: center

  &-inner
    +xy-cell(12)
    padding: $global-padding * 3

  &-logo
    margin-left: 25%
    margin-right: 25%
    padding-bottom: $global-padding * 1.5
    padding-top: $global-padding * 1.5
    width: 50%

  &-message
    font-size: $h3-font-size
    letter-spacing: rem-calc(1)
    line-height: 1.5
    padding: $global-padding / 2

  &-title
    font-size: $h1-font-size
    margin-bottom: $global-margin
    margin-top: $global-margin
    text-align: center
    text-transform: uppercase
