/// Typography for Yeti theme.
@import '../../settings'
@import foundation


.page

  &.container
    display: flex
    flex-direction: column
    height: auto
    justify-content: flex-start
    min-height: 100vh

  &.content
    padding-bottom: 0
    padding-left: $global-padding * .5
    padding-right: $global-padding * .5
    padding-top: 0

  &.header,
  &.footer
    flex-shrink: 0

  &.header
    margin: 0
    padding: 0

  &.inner
    padding-bottom: $global-padding * 1.5
    padding-top: $global-padding * 1.5

  &.navigation
    padding: 0

  &-title
    margin: 0
    padding-bottom: $global-padding
    padding-left: 0
    padding-right: 0
    padding-top: $global-padding

.top-bar

  &.menubar
    padding-bottom: $global-padding * .75
    padding-left: $global-padding * 1.5
    padding-right: $global-padding * 1.5
    padding-top: $global-padding * .75

.region

  &-main-container
    margin-left: 0
    margin-right: 0
