@import '../../settings'
@import '../util/mixins'
@import foundation
@import menu
@import card


.theme

  &-list

    &-item
      +md-card
      margin-bottom: $global-margin
      margin-top: $global-margin

  &-info

    & h3
      font-size: $lead-font-size
      font-weight: bolder

    & h4
      font-size: $h5-font-size
      padding-bottom: $global-padding / 4
      padding-top: $global-padding / 4
      text-align: center

    &-description
      color: $white
      padding-bottom: $global-padding / 2
      padding-top: $global-padding / 2

  &-operations
    border-top: thin solid $md-secondary-dark
    padding-top: $global-padding

    & .operations
      +menu-align(center)
      +menu-direction(horizontal)
      +menu-expand
      text-align: center

  &-info,
  &-operations,
  &-screenshot
    +card-section

  /// Adjust card image styles.
  &-screenshot

    & img
      +thumbnail
