/// Typography for Yeti theme.
@import '../../settings'
@import foundation
@import grid

+foundation-xy-grid-classes

html
  +xy-grid
  margin-left: 0
  margin-right: 0

body,
main
  +xy-grid

main
  +xy-grid-frame

body,
.dialog-off-canvas-main-canvas
  width: 100%

.field--type

  &-boolean,
  &-text-with-summary,
  &-yoast-seo
    +xy-cell(12)

.form

  &-actions
    +xy-cell(12)

.footer

  &.column
    +xy-cell(auto)

  &.end-of-page
    +xy-grid

    &.inner
      +xy-cell(12)

  &.first-column,
  &.second-column,
  &.third-column
    +xy-cell(4)

  &.inner
    +xy-grid

  &.intro,
  &.main
    +xy-cell(12)

  &.main

    &-inner
      +xy-grid

    &-left,
    &-right
      +xy-cell(6)

  &.wrapper
    +xy-cell(auto)

.page

  &.container
    +xy-grid
    +xy-cell(12)

  &.content,
  &.footer,
  &.navigation
    +xy-grid

  &.header
    +xy-cell(auto, false)
    +xy-grid

  &.inner
    +xy-cell(12)
    +xy-grid

  &.sidebar
    +xy-cell(12)

.region

  &-branding
    +xy-cell(shrink)

    & .top-bar-left,
    & .top-bar-right
      +xy-cell(auto)

  &-main-container
    +xy-cell(auto)

.title-bar,
.top-bar

  &.actionbar
    +xy-cell(auto)

  &.menubar
    +xy-cell(auto)
    margin: 0
