@import '../../settings'
@import foundation
@import '../util/mixins'

/// Fixes the appearance of the draggable text block with draggable
/// toggle button.
.draggable

  & td.block
    line-height: rem-calc(28)
    padding: $global-padding
    vertical-align: middle

/// Fixes the appearance of the draggable toggle button.
.tabledrag-toggle-weight-wrapper
  padding: $global-padding

  & button
    +button(false, $md-secondary-dark, $black, $white, hollow)
    +md-element-shadow($shadow-color)

/// Fixes the size and position of tabledrag icon.
a.tabledrag-handle
  height: rem-calc(28)
  width: rem-calc(28)

  & > .handle
    height: rem-calc(28)
    margin: 0
    padding: 0
    width: rem-calc(28)

/// Fixes some issues with select and dropbutton inside tables.
table

  & select.form-select
    margin: 0

  & td

    & div.dropbutton-widget
      margin-bottom: 0
      padding-bottom: 0
      padding-left: $global-padding / 2
      padding-right: $global-padding / 2
      padding-top: 0

    & div.dropbutton-wrapper
      padding-right: $global-padding

  & tr.region-title
    border-bottom: thin solid $md-primary
    border-top: medium solid $md-primary

    & div.form-wrapper
      margin-top: $global-margin / 2
      vertical-align: middle
