/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
table {
  margin-top: 1rem; }

.form-actions input {
  padding-bottom: 1rem;
  padding-top: 1rem; }

.views div.views-form {
  width: calc(100% - 1.25rem);
  margin-right: 0.625rem;
  margin-left: 0.625rem; }

.views-exposed-form {
  width: calc(100% - 1.25rem);
  margin-right: 0.625rem;
  margin-left: 0.625rem; }

.views-field-user-bulk-form input {
  margin: 0; }

.views-field ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  flex-direction: column; }
  .views-field ul li {
    display: flex;
    justify-content: center; }
    .views-field ul li .submenu li {
      justify-content: flex-start; }
  [data-whatinput='mouse'] .views-field ul li {
    outline: 0; }
  .views-field ul a,
  .views-field ul .button {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem; }
  .views-field ul input,
  .views-field ul select,
  .views-field ul a,
  .views-field ul button {
    margin-bottom: 0; }
  .views-field ul input {
    display: inline-block; }

.views-list-section > h2 {
  font-size: 125%; }

.views-table thead {
  background-color: #b0bec5;
  color: #fff;
  font-size: 18.72px; }

.views-ui-view-description, .views-ui-view-displays {
  font-size: 13.28px; }

.views-ui-view-name h3 {
  font-size: 16px; }
