@import '../../settings'
@import foundation


#color_scheme_form
  +accordion-item
  +xy-grid
  margin-left: 0
  margin-right: 0

.color

  &-form
    +xy-grid
    margin-left: 0
    margin-right: 0

  &-palette
    margin-right: 0

  &-form,
  &-palette,
  &-placeholder
    +xy-cell(auto)

.form

  &-item

    &-scheme
      +xy-cell(shrink)
      padding: 0

.yeti-color-form

  &-preview
    +xy-cell(12)

+breakpoint(large)
  .color

    &-form
      +xy-cell(auto)

    &-palette
      +xy-cell(4)
      margin-left: 0

  .yeti-color-form

    &-preview
      +xy-cell(8)
