@import '../../settings'
@import '../util/mixins'
@import material-shadows

/* ---------- Color Module Styles -----------

/// Material classes
.md

  &-gray
    background-color: $gray

  &-link-color-on

    &-p
      color: $black

    &-s
      color: $white

  &-primary
    background-color: $md-primary

    &-dark
      background-color: $md-primary-dark

    &-light
      background-color: $md-primary-light

  &-secondary
    background-color: $md-secondary

    &-dark
      background-color: $md-secondary-dark

    &-light
      background-color: $md-secondary-light

  &-text-on

    &-primary
      color: $black

    &-secondary
      color: $white

/// Elements colors.
body
  background-color: $white
  color: $black

a,
.link
  +md-link($md-primary)

form,
.form
  background-color: $light-gray
  border: thin solid $shadow-color

/// Material elevations.

button,
.button
  +z-depth(2)

form,
.form
  +z-depth(2)

footer,
.top-bar,
.title-bar
  +z-depth(8)

.menu

  &-local-tasks,
  &-tools
    +z-depth(4)

.node
  +z-depth(2)

.required

  &::after
    color: get-color(alert)

h1,
h2,
h3,
h4,
h5,
h6,
p,
span
  color: $black

/// Accordion colors.

.accordion

  & a
    +md-link($md-primary-dark)

// Branding colors.
.branding-container

  & a
    color: $white

    & svg
      fill: $white

    & p
      color: $white

.top-bar,
.title-bar

  /// Menubar colors

  &.menubar
    background-color: $md-primary

    & ul.menu
      background-color: transparent

    & ul.dropdown

      &.menu

        & a
          +md-link($md-primary)

    & li

      & a
        +md-link($white)


  /// Actionbar colors.

  &.actionbar
    background-color: $md-secondary-light

    & ul
      background-color: transparent

      & li

        &.is-active > a
          background-color: $md-secondary

        & a
          +md-link($white)

.sidebar
  background-color: $md-secondary-light

  &.block
    background-color: $md-secondary-light
    border-color: $md-primary

/// Footer colors.
.footer

  &.wrapper
    background-color: $md-secondary
    color: $white

    & span,
    & span > a,
    & li > a
      +md-link($white)

form

  & label
    color: $md-secondary-dark

/// Fields colors.
.field

  &-user

    &-picture

      & i
        background-color: $md-primary-dark
        color: $white

.message

  &-text
    color: $black

/// Node colors.
.node

  &-content

    &-header
      background-color: $md-primary-light
      color: $black

/// Regions colors.
.region

  &-branding

    & a
      color: $white

  &-titlebar

    &-left,
    &-right

      & a
        color: $white

/// Search result colors.
.search

  &-result

    &.container
      border-bottom: thin solid $md-primary-dark

    &.title
      border-right: medium solid $md-primary-dark

/// User colors.
.user

  &-data

    & figure

      &.thumbnail
        border: solid thin $md-primary-dark
        box-shadow: $prototype-box-shadow

/* ---------- Color Form -----------

[dir='rtl']
  &.color-form

    &.form-item
      label
        float: right

    &.color-palette
      margin-left: 0
      margin-right: $global-margin * .5

      &.lock
        left: 0
        right: $global-margin * .5 * -1
