@import '../../settings'
@import foundation
@import 'colors'
@import 'typography'

/* ---------- Preview Styles ----------- */

.js

  &.color-preview
    clear: both
    float: none !important

.color-preview
  +xy-grid
  background-color: $white
  font-family: $body-font-family
  font-size: $global-font-size
  line-height: $base-line-height
  margin-bottom: rem-calc(10)
  overflow: hidden
  word-wrap: break-word

  & div.preview-content
    margin-top: $global-margin
    padding: $global-padding / 2

  &.preview-block

    &-menu

      &.preview-content,
      &.preview-content ul
        margin-top: 0

  & div

    &.branding-container

      & a
        color: $white

        & img
          fill: $gray

        & p
          color: $white

  &-content
    +xy-cell(auto)

    & h1
      padding: $global-padding / 2

  &-footer

    &-columns

      & h2
        border-bottom: 1px solid #555
        border-color: rgba(255, 255, 255, 0.15)
        font-size: $h4-font-size
        padding-bottom: 3px
        text-transform: uppercase

      &.preview-content
        margin-top: 0

        & ul
          +menu-base
          +menu-align(center)
          margin-left: 0 /* LTR */
          padding-left: 0 /* LTR */

        & li

          & a
            border-bottom: 1px solid #555
            border-color: rgba(255, 255, 255, 0.15)
            display: block
            line-height: 1.2
            padding: 0.8em 2px 0.8em 20px /* LTR */
            text-indent: -15px

            &:hover,
            &:focus
              background-color: #1f1f21
              background-color: rgba(255, 255, 255, 0.05)
              text-decoration: none

    &-wrapper
      color: #c0c0c0
      color: rgba(255, 255, 255, 0.65)
      display: block !important
      font-size: 0.857em
      padding: 20px 20px 25px

      & a
        color: #fcfcfc
        color: rgba(255, 255, 255, 0.8)

        &:hover,
        &:focus
          color: #fefefe
          color: rgba(255, 255, 255, 0.95)
          text-decoration: underline

      &.preview-block
        border: 1px solid #444
        border-color: rgba(255, 255, 255, 0.1)
        margin: 20px 0
        padding: 10px

        &-menu
          border: none
          margin: 0
          padding: 0

      &.preview-footer-column
        display: inline
        float: left /* LTR */
        padding: 0 10px
        position: relative
        width: 220px

  &-header
    background-color: $md-primary
    position: relative

    &.top-bar

      & ul
        background-color: transparent

        & a
          color: $white

  &-link
    background-color: $md-primary

  &-logo
    float: left
    padding: 15px

  &-main
    margin-bottom: 40px
    margin-top: 20px

  &-navbar

    &-menu
      background-color: $md-primary

  &-node
    padding: $global-padding / 2

  &-page-title
    font-size: 2em
    font-weight: normal
    line-height: 1
    margin: 1em 0 .5em

  &-sidebar,
  &-content
    display: inline
    float: left /* LTR */
    position: relative

  &-sidebar
    width: 210px

    & h2
      border-bottom: 1px solid #d6d6d6
      font-size: $h4-font-size
      font-weight: normal
      margin-left: 0
      margin-right: 0
      margin-top: 0
      padding: $global-padding * .5

    &.preview-block
      border: rem-calc(1) solid
      margin: rem-calc(20) 0
      padding: $global-padding * .95 $global-padding * 1.25

  &-site-name
    color: $md-primary-dark
    font-size: $h3-font-size
    font-weight: normal
    line-height: 1
    margin-bottom: $global-margin * 1.8
    margin-left: rem-calc(15)
    padding-top: $global-padding * 1.8

[dir="rtl"]

  &.color-preview

    &-footer

      &-columns

        &.preview-content

          & ul
            margin-right: 0
            padding-right: 0

          & li

            & a
              padding-left: rem-calc(2)
              padding-right: rem-calc(20)

      &-wrapper

        &.preview-footer-column
          float: right

    &-site-name
      padding-left: 0
      padding-right: rem-calc(15)

    &-sidebar,
    &-content
      float: right
