/// Typography for Yeti theme.
@import '../../settings'
@import '../util/mixins'
@import foundation

+foundation-typography
+drupal-definition-classes

.contextual-region

  & a
    margin-left: $global-margin * .25


form

  & label
    font-size: $h4-font-size
    font-weight: bolder
    letter-spacing: rem-calc(.25)

hr
  border-bottom: rem-calc(1.5) groove $md-primary-light

.page

  &-title
    font-size: $h2-font-size
    text-align: center
    text-transform: uppercase
