/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.region-actions {
  margin-top: 1rem;
  padding-left: 1rem; }
  .region-actions-inner {
    flex: 1 1 0px; }
  .region-actions .contextual-region {
    flex: 1 1 0px;
    width: auto;
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  .region-actions div {
    flex: 1 1 0px;
    width: auto;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    min-width: 15.625rem; }

@media print, screen and (min-width: 64em) {
  .region-actions {
    padding-left: 0; }
    .region-actions div {
      min-width: 21.875rem; } }
