/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.region-end-of-page {
  margin-top: 1rem; }
  .region-end-of-page div.powered-by {
    padding: 0.5rem; }
