/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.region-messages {
  margin-bottom: 1rem;
  margin-top: 1rem; }

.message.callout.alert {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(24, 64, 91, 0.25);
  border-radius: 0;
  background-color: #fdecea;
  color: #212121;
  background-color: #f28072;
  border-bottom: thin solid #e92d15;
  border-left: 0.625rem solid #e92d15;
  border-right: thin solid #e92d15;
  border-top: thin solid #e92d15; }
  .message.callout.alert > :first-child {
    margin-top: 0; }
  .message.callout.alert > :last-child {
    margin-bottom: 0; }

.message.callout.success {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(24, 64, 91, 0.25);
  border-radius: 0;
  background-color: #f8fdf7;
  color: #212121;
  background-color: #d0f2c7;
  border-bottom: thin solid #8bdf74;
  border-left: 0.625rem solid #8bdf74;
  border-right: thin solid #8bdf74;
  border-top: thin solid #8bdf74; }
  .message.callout.success > :first-child {
    margin-top: 0; }
  .message.callout.success > :last-child {
    margin-bottom: 0; }

.message-text {
  color: #212121;
  text-shadow: 0; }
