/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.region-footer-top-left ul.menu {
  flex-wrap: nowrap;
  flex-direction: column; }
  .region-footer-top-left ul.menu li {
    display: flex;
    justify-content: center; }
    .region-footer-top-left ul.menu li .submenu li {
      justify-content: flex-start; }
