/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.region-breadcrumbs {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2.5rem; }
