/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.footer.main {
  padding: 1rem; }

.footer.wrapper span,
.footer.wrapper span > a,
.footer.wrapper li > a {
  font-size: 0.9rem; }
