/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.dropbutton li {
  display: inline-flex;
  height: inherit; }

.dropbutton-action {
  margin-bottom: 0.5rem;
  margin-top: 0.25rem; }

.dropbutton-arrow {
  color: #212121; }

.dropbutton-toggle button {
  height: inherit; }

.dropbutton-widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #b0bec5;
  color: #fff;
  padding: 0 1rem; }
  [data-whatinput='mouse'] .dropbutton-widget {
    outline: 0; }
  .dropbutton-widget:hover, .dropbutton-widget:focus {
    background-color: #808e95;
    color: #fff; }
  .dropbutton-widget li.dropbutton-action {
    letter-spacing: 0.0625rem;
    padding: 0.25rem 1.5625rem; }
    .dropbutton-widget li.dropbutton-action a {
      color: #212121;
      font-weight: normal;
      padding: 0; }
      .dropbutton-widget li.dropbutton-action a:active, .dropbutton-widget li.dropbutton-action a:focus, .dropbutton-widget li.dropbutton-action a:hover {
        color: #212121;
        font-weight: bolder;
        text-decoration: underline;
        text-decoration-color: #b0bec5; }
