/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.maintenance {
  display: flex;
  flex-flow: row wrap;
  border: thin solid #808e95; }
  .maintenance-container {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    max-width: 75rem;
    margin: 0 auto;
    margin-top: 5vh; }
    @media print, screen and (min-width: 40em) {
      .maintenance-container {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem; } }
  .maintenance-footer {
    width: 100%;
    font-size: 125%;
    margin: 0;
    padding: 1rem;
    text-align: center; }
  .maintenance-inner {
    width: calc(100% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    padding: 3rem; }
  .maintenance-logo {
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 50%; }
  .maintenance-message {
    font-size: 18.72px;
    letter-spacing: 0.0625rem;
    line-height: 1.5;
    padding: 0.5rem; }
  .maintenance-title {
    font-size: 32px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase; }
