/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.page.container {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 100vh; }

.page.content {
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0; }

.page.header, .page.footer {
  flex-shrink: 0; }

.page.header {
  margin: 0;
  padding: 0; }

.page.inner {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem; }

.page.navigation {
  padding: 0; }

.page-title {
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem; }

.top-bar.menubar {
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem; }
