/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.theme-list-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 2;
  border: thin solid #8a8a8a;
  border-radius: 0.625rem;
  background: #e3e3e3;
  box-shadow: +z-depth(2);
  overflow: hidden;
  color: #212121;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  .theme-list-item > :last-child {
    margin-bottom: 0; }
  .theme-list-item h1,
  .theme-list-item h2,
  .theme-list-item h3,
  .theme-list-item h4 {
    border-bottom: medium solid #8a8a8a; }
  .theme-list-item p {
    font-size: 80%; }
  .theme-list-item a {
    color: #b0bec5;
    font-weight: bolder; }
    .theme-list-item a:active, .theme-list-item a:focus, .theme-list-item a:hover {
      color: #808e95;
      text-decoration: underline; }

.theme-info h3 {
  font-size: 125%;
  font-weight: bolder; }

.theme-info h4 {
  font-size: 13.28px;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  text-align: center; }

.theme-info-description {
  color: #fff;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

.theme-operations {
  border-top: thin solid #808e95;
  padding-top: 1rem; }
  .theme-operations .operations {
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center; }
    .theme-operations .operations li {
      display: flex;
      justify-content: center; }
      .theme-operations .operations li .submenu li {
        justify-content: flex-start; }
    .theme-operations .operations li {
      flex: 1 1 0px; }

.theme-info, .theme-operations, .theme-screenshot {
  flex: 1 0 auto;
  padding: 1rem; }
  .theme-info > :last-child, .theme-operations > :last-child, .theme-screenshot > :last-child {
    margin-bottom: 0; }

.theme-screenshot img {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fff;
  border-radius: 0;
  box-shadow: 0 0.125rem 0.3125rem 0 #8a8a8a, 0 0.125rem 0.625rem 0 #e3e3e3;
  line-height: 0; }
