/// Form component styles.
@import '../../settings'
@import foundation
// Foundation Forms Imports.
//@import forms
@import checkbox
@import error
@import fieldset
@import help-text
@import input-group
@import label
@import meter
@import progress
@import range
@import select
@import text

+foundation-form-checkbox
+foundation-form-fieldset
+foundation-form-helptext
+foundation-form-prepostfix
+foundation-form-text
+foundation-meter-element
+foundation-progress-element
+foundation-range-input

.description
  white-space: normal

.field--type

  &-boolean,
  &-text-with-summary,
  &-yoast-seo
    background-color: $light-gray

.form-container

  & label
    color: $md-primary-dark
    font-size: $h3-font-size
    font-weight: bolder
    padding-right: $global-padding * 1.5

form,
.form
  +xy-grid
  border-radius: .25rem
  margin-bottom: $global-margin / 2
  margin-left: 0
  margin-right: 0
  padding: $global-padding

  & .form-item
    +xy-cell(12)
    min-width: rem-calc(250)

    &-live-preview
      +xy-cell(12)

  & .form-actions
    +xy-cell(12)
    padding: $global-padding * .5

  &.view-preview-form__title
    +xy-cell(12)

  &.no
    &-border
      border: 0

    &-margin
      margin: 0

    &-padding
      padding: 0

  & a.token-dialog
    +button(false, $md-primary-dark, $md-primary-dark, $md-primary-dark, hollow)
    display: inline-flex
    font-weight: normal
    margin-top: $global-margin * 2
    padding: $global-padding

  & div.form-wrapper
    margin-top: $global-margin

  &-padded
    padding-left: $global-padding
    padding-right: $global-padding

  & label
    +form-label

    &.centered
      +form-label-middle

  & select
    +form-select
    -moz-appearance: none
    -webkit-appearance: none

.required
  font-weight: bold

  &::after
    content: ' *'
    display: inline

