/// Styles for Breadcrumbs component..
@import '../../settings'
@import foundation
@import breadcrumbs

+foundation-breadcrumbs

.breadcrumbs

  & a
    font-size: $lead-font-size

    &:active,
    &:focus,
    &:hover
      color: $md-primary-dark
      font-size: bolder
