/// Menu styles for Yeti theme.
@import '../../settings'
@import foundation
@import menu
@import menu-icon

+foundation-menu
+foundation-menu-icon

.menu

  &.hidden
    display: none

+breakpoint(medium)
  .menu

    &-left
      padding-left: $global-padding

      & ul

        +flex-align(left)

    &-right
      padding-right: $global-padding

      & ul

        +flex-align(right)