/// Messages styles.
@import '../../settings'
@import '../util/mixins'
@import material-shadows
@import foundation


.message
  +z-depth(2)

  & button
    box-shadow: none

  &.alert
    +md-message($md-alert)

    & ul
      list-style-type: none

    & .message-text
      text-indent: $global-margin * .5

      &::before
        align-content: center
        content: url('../../assets/icons/000000/ex.svg')
        margin-right: $global-margin * .5
        vertical-align: middle

  &.status,
  &.success

    & ul
      list-style-type: none

    & .message-text
      text-indent: $global-margin * .5

      &::before
        align-content: center
        content: url('../../assets/icons/000000/check.svg')
        margin-right: $global-margin * .5
        vertical-align: middle

  &.warning
    +md-message($md-warning)

    & ul
      list-style-type: none

    & .message-text
      text-indent: $global-margin * .5

      &::before
        align-content: center
        content: url('../../assets/icons/000000/questionmark-disc.svg')
        margin-right: $global-margin * .5
        vertical-align: middle

  &.status,
  &.success
    +md-message($md-success)

  &-text
    letter-spacing: rem-calc(2)
    margin-bottom: 0
    margin-top: $global-margin
    padding: $global-padding

    & a
      +md-link($black)
