/// Node content styles for Yeti.
@import '../../settings'
@import foundation


.node
  border-bottom: rem-calc(1.2) solid $md-secondary-dark
  margin-bottom: $global-margin * 5
  padding: 0 $global-padding

  & h3
    letter-spacing: rem-calc(1.5)
    text-transform: uppercase

  & aside
    font-size: $h5-font-size

  &-author
    +xy-grid
    +xy-cell(12, true, $grid-margin-gutters, margin, right left, small, false)
    border-top: thin solid $md-secondary-dark
    padding-bottom: $global-padding / 2
    padding-top: $global-padding / 2

    &-inner
      line-height: $user-picture-global-size
      vertical-align: middle

      & div.field-uid,
      & span
        display: inline

  &-body
    +xy-cell(12, true, $grid-margin-gutters, margin, right left, small, false)

  &-content
    +xy-grid

    &-header
      +xy-cell(12, true, $grid-margin-gutters, margin, right left, small, false)
      background-color: transparent

  &-title
    +xy-cell(12, true, $grid-margin-gutters, margin, right left, small, false)
    padding-bottom: $global-padding / 2
    padding-top: $global-padding / 2


  & figure

    & img
      height: auto
      margin-bottom: $global-margin
      max-width: 100%
      width: 100%
