/// Search result styles for Yeti.
@import '../../settings'
@import foundation

.search

  &-advanced

    & div.accordion-content
      background-color: transparent

  &-result
    padding: 0

    &.container
      margin-bottom: $global-margin * 2
      padding-top: $global-padding

    &.info
      font-size: $footer-menu-font-size

      &-snippet
        font-weight: lighter
        letter-spacing: rem-calc(6)

    &.title
      min-height: $global-padding * 3
      margin-right: $global-margin * 2
      padding-bottom: $global-padding
      padding-left: $global-padding
      padding-right: $global-padding
      text-transform: uppercase

      & h4
        line-height: $global-padding * 3
        vertical-align: middle