@import '../../settings'
@import '../util/mixins'
@import foundation
@import accordion


.details
  +accordion-container
  +xy-grid
  +xy-cell(12)
  background-color: transparent
  border-bottom: 0
  border-left: 0
  border-right: 0
  border-top: 0
  box-shadow: none
  margin-left: 0
  margin-right: 0

  &-item
    +accordion-item
    +xy-cell(auto)
    border: 0
    box-shadow: none
    margin-left: 0
    margin-right: 0

    &.disabled
      font-weight: lighter

    &.is-active
      padding: $global-padding

      & a.details-title
        +details-active-link($md-primary-dark)

    & a
      background-color: transparent
      border: 0
      color: $md-primary-dark
      font-size: $h4-font-size
      font-weight: normal
      padding: $global-padding

      &:active,
      &:focus,
      &:hover
        background-color: transparent
        color: $md-primary-dark
        font-weight: bolder
        text-decoration: none

  &-title
    +accordion-title

  &-content
    +accordion-content
    background-color: transparent
    border: 0
    box-shadow: none
    margin-top: $global-margin * 2
    padding-bottom: $global-padding
    padding-left: 0
    padding-right: 0
    padding-top: $global-padding
