@import '../../settings'
@import foundation
@import menu


.system-modules

  & label
    font-size: $h4-font-size
    font-weight: bolder

  & td

    & details
      height: auto

      & summary
        cursor: pointer
        font-size: $h5-font-size
        line-height: 1.1
        text-decoration: none
        white-space: pre-line

.menu

  &-links
    +menu-align(center)
    +menu-base
    +menu-direction(horizontal)
    +menu-expand

.module

  &-link
    border: 0
