{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('yeti/messages') }}

{% for type, messages in message_list %}
  <div role="contentinfo" aria-label="{{ status_headings[type] }}"{{ attributes|without('role', 'aria-label') }}>
    {% if type == 'error' %}
      <div class="message alert" role="{{ type }}" data-closable>
    {% elseif type == 'warning' %}
      <div class="message warning" role="{{ type }}" data-closable>
    {% else %}
        <div class="message success" role="{{ type }}" data-closable>
    {% endif %}
      {% if status_headings[type] %}
        <h2 class="show-for-sr">{{ status_headings[type] }}</h2>
      {% endif %}
      {% if messages|length > 1 %}
        <ul>
          {% for message in messages %}
            <li>
              <p class="message-text">{{ message }}</p>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="message-text">{{ messages|first }}</p>
      {% endif %}
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
{% endfor %}
