body
  overflow-x: hidden

header
  margin: 0
  padding: 0 !important

a
  cursor: pointer
  font-size: $global-font-size

  &.link
    &.is-active,
    &:active
      text-decoration: underline

  &.is-active,
  &:active
    text-decoration: underline

i
  font-family: 'foundation-icons'
  font-size: $global-font-size
