/// User styles.
@import '../../settings'
@import foundation

.user

  &-data
    margin-right: $global-margin
    width: auto

    & figure
      min-height: $user-picture-global-size
      min-width: $user-picture-global-size
      height: $user-picture-global-size
      overflow: hidden
      width: $user-picture-global-size

      &.thumbnail
        border-radius: 50%

      & img
        min-height: $user-picture-global-size
        min-width: $user-picture-global-size
        width: $user-picture-global-size

    & i
      font-size: $user-picture-global-size
      padding: $global-padding / 2
