/// Field label styles for Yeti.
@import '../../settings'
@import foundation

.field-label
  font-weight: bolder
  letter-spacing: $global-margin / 5
  padding: $global-padding
  text-transform: uppercase
