/// Field user picture styles for Yeti.
@import '../../settings'
@import foundation

.field-user-picture

  & a

    & img
      height: $global-padding * 3
      max-width: $global-padding * 3
      width: auto

.user

  &-picture

    &:focus,
    &:hover
      border-bottom: thin solid $md-secondary-dark
      padding-bottom: $global-padding

  &-pictures

    &.container
      border: thin solid $md-secondary-dark
      padding: $global-padding
