/// Node tags styles for Yeti.
@import '../../settings'
@import foundation
@import button

.tag
  +button(false, $md-primary-light, $md-primary, $md-secondary, hollow)
  border-bottom: 0
  border-top: 0
  text-transform: uppercase

.tags
  +button-group('.tag', $global-margin * .25)

  &:not(:last-child)
    margin-right: $global-margin
