/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.user-data {
  margin-right: 1rem;
  width: auto; }
  .user-data figure {
    min-height: 4.6875rem;
    min-width: 4.6875rem;
    height: 4.6875rem;
    overflow: hidden;
    width: 4.6875rem; }
    .user-data figure.thumbnail {
      border-radius: 50%; }
    .user-data figure img {
      min-height: 4.6875rem;
      min-width: 4.6875rem;
      width: 4.6875rem; }
  .user-data i {
    font-size: 4.6875rem;
    padding: 0.5rem; }
