{#
/**
 * @file
 * Default theme implementation for system branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('yeti/blocks.branding') }}

{%
  set classes = [
    'branding-container',
    'small-12',
    'cell',
  ]
%}

{%
  set slogan_classes = [
    'show-for-large',
    'slogan',
  ]
%}

{%
  set show_for_large = [
    'show-for-large',
  ]
%}

{% block content %}
  <h3 class="show-for-sr">{{ 'Site branding'|t }}</h3>
  <div{{ attributes.addClass(classes) }}>
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      {% endif %}
      {% if site_name %}
        <p{{ attributes.addClass(show_for_large) }}>
          {{ site_name }}
        </p>
      {% endif %}
    </a>
    {% if site_slogan %}
      <p{{ attributes.addClass(slogan_classes) }}>
        {{ site_slogan }}
      </p>
    {% endif %}
  </div>
{% endblock %}