/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.add-block a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid #1976d2;
  color: #1976d2; }
  [data-whatinput='mouse'] .add-block a {
    outline: 0; }
  .add-block a, .add-block a:hover, .add-block a:focus {
    background-color: transparent; }
  .add-block a.disabled, .add-block a.disabled:hover, .add-block a.disabled:focus, .add-block a[disabled], .add-block a[disabled]:hover, .add-block a[disabled]:focus {
    background-color: transparent; }
  .add-block a:hover, .add-block a:focus {
    border-color: #0d3b69;
    color: #0d3b69; }
    .add-block a:hover.disabled, .add-block a:hover[disabled], .add-block a:focus.disabled, .add-block a:focus[disabled] {
      border: 1px solid #1976d2;
      color: #1976d2; }

.add-section {
  background-color: #e2f1f8; }
  .add-section a {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #808e95;
    color: #808e95; }
    [data-whatinput='mouse'] .add-section a {
      outline: 0; }
    .add-section a, .add-section a:hover, .add-section a:focus {
      background-color: transparent; }
    .add-section a.disabled, .add-section a.disabled:hover, .add-section a.disabled:focus, .add-section a[disabled], .add-section a[disabled]:hover, .add-section a[disabled]:focus {
      background-color: transparent; }
    .add-section a:hover, .add-section a:focus {
      border-color: #3f474b;
      color: #3f474b; }
      .add-section a:hover.disabled, .add-section a:hover[disabled], .add-section a:focus.disabled, .add-section a:focus[disabled] {
        border: 1px solid #808e95;
        color: #808e95; }
