/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.details {
  margin-left: 0;
  background: transparent;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none; }
  .details[disabled] .accordion-title {
    cursor: not-allowed; }
  .details-item {
    flex: 1 1 0px;
    width: auto;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    border: 0;
    box-shadow: none; }
    .details-item:first-child > :first-child {
      border-radius: 0 0 0 0; }
    .details-item:last-child > :last-child {
      border-radius: 0 0 0 0; }
    .details-item.disabled {
      font-weight: lighter; }
    .details-item.is-active {
      padding: 1rem; }
      .details-item.is-active a.details-title {
        background-color: transparent;
        border-left: medium solid #004ba0;
        color: #004ba0;
        font-weight: normal; }
        .details-item.is-active a.details-title:active, .details-item.is-active a.details-title:focus, .details-item.is-active a.details-title:hover {
          background-color: transparent;
          color: #004ba0;
          font-weight: bolder;
          text-decoration: none; }
    .details-item a {
      background-color: transparent;
      border: 0;
      color: #004ba0;
      font-size: 16px;
      font-weight: normal;
      padding: 1rem; }
      .details-item a:active, .details-item a:focus, .details-item a:hover {
        background-color: transparent;
        color: #004ba0;
        font-weight: bolder;
        text-decoration: none; }
  .details-title {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    border: 1px solid #18405b;
    border-bottom: 0;
    font-size: 0.75rem;
    line-height: 1;
    color: #1976d2; }
    :last-child:not(.is-active) > .details-title {
      border-bottom: 1px solid #18405b;
      border-radius: 0 0 0 0; }
    .details-title:hover, .details-title:focus {
      background-color: #1976d2; }
    .details-title::before {
      position: absolute;
      top: 50%;
      right: 1rem;
      margin-top: -0.5rem;
      content: '+'; }
    .is-active > .details-title::before {
      content: '\2013'; }
  .details-content {
    display: none;
    padding: 1rem;
    border: 1px solid #18405b;
    border-bottom: 0;
    background-color: #e3e3e3;
    color: #212121;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    margin-top: 2rem; }
    :last-child > .details-content:last-child {
      border-bottom: 1px solid #18405b; }
