/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.system-modules label {
  font-size: 16px;
  font-weight: bolder; }

.system-modules td details {
  height: auto; }
  .system-modules td details summary {
    cursor: pointer;
    font-size: 13.28px;
    line-height: 1.1;
    text-decoration: none;
    white-space: pre-line; }

.menu-links {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row; }
  .menu-links li {
    display: flex;
    justify-content: center; }
    .menu-links li .submenu li {
      justify-content: flex-start; }
  [data-whatinput='mouse'] .menu-links li {
    outline: 0; }
  .menu-links a,
  .menu-links .button {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem; }
  .menu-links input,
  .menu-links select,
  .menu-links a,
  .menu-links button {
    margin-bottom: 0; }
  .menu-links input {
    display: inline-block; }
  .menu-links li {
    flex: 1 1 0px; }

.module-link {
  border: 0; }
