@import '../../settings'
@import foundation


.region

  &-actions
    margin-left: 0
    margin-right: 0
    margin-top: 0
    padding-left: 0
    padding-right: 0
    width: 100%

    &-inner
      +xy-cell(auto)
      margin-left: 0
      margin-right: 0

    & .contextual-region
      +xy-cell(auto)
      margin-left: 0
      margin-right: 0

    & div
      +xy-cell(auto)
      margin-left: 0
      margin-right: 0
      min-width: rem-calc(250)

+breakpoint(large)
  .region

    &-actions

      & div
        min-width: none
