/// Messages region styles.
@import '../../settings'
@import '../util/mixins'
@import foundation

$alert-color: get-color(alert)
$success-color: get-color(success)

.region

  &-messages
    margin-bottom: $global-margin
    margin-top: $global-margin

.message

  &.callout

    &.alert
      +md-message($alert-color)

    &.success
      +md-message($success-color)

  &-text
    color: $black
    text-shadow: 0
