/// Breadcrumbs region styles.
@import '../../settings'
@import foundation


.region

  &-breadcrumbs
    +xy-cell(12)
    height: 100%
    margin-left: 0
    margin-right: 0
    padding-bottom: 0
    padding-left: 0
    padding-right: 0
    padding-top: $global-padding * 2.5
