/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.tabs {
  margin: 0;
  border: 1px solid #004ba0;
  background: #fff;
  list-style-type: none; }
  .tabs::before, .tabs::after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1; }
  .tabs::after {
    clear: both; }

.tabs.vertical > li {
  display: block;
  float: none;
  width: auto; }

.tabs.simple > li > a {
  padding: 0; }
  .tabs.simple > li > a:hover {
    background: transparent; }

.tabs.primary {
  background: #1976d2; }
  .tabs.primary > li > a {
    color: #fff; }
    .tabs.primary > li > a:hover, .tabs.primary > li > a:focus {
      background: #1870c8; }

.tabs-title {
  float: left; }
  .tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    font-size: 0.875rem;
    line-height: 1;
    color: #004ba0; }
    .tabs-title > a:hover {
      background: white;
      color: #00418a; }
    .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
      background: #808e95;
      color: #fff; }

.tabs-content {
  border: 1px solid #004ba0;
  border-top: 0;
  background: #fff;
  color: #212121;
  transition: all 0.5s ease; }

.tabs-content.vertical {
  border: 1px solid #004ba0;
  border-left: 0; }

.tabs-panel {
  display: none;
  padding: 1rem; }
  .tabs-panel.is-active {
    display: block; }
