/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.callout {
  position: relative;
  margin: 0 0 1rem 0;
  padding: 1rem;
  border: 1px solid rgba(24, 64, 91, 0.25);
  border-radius: 0;
  background-color: white;
  color: #212121; }
  .callout > :first-child {
    margin-top: 0; }
  .callout > :last-child {
    margin-bottom: 0; }
  .callout.primary {
    background-color: #daeafb;
    color: #212121; }
  .callout.secondary {
    background-color: #f3f5f6;
    color: #212121; }
  .callout.p-light {
    background-color: #e8f1ff;
    color: #212121; }
  .callout.p-dark {
    background-color: #cbe3ff;
    color: #212121; }
  .callout.s-light {
    background-color: #fbfdfe;
    color: #212121; }
  .callout.s-dark {
    background-color: #eceeef;
    color: #212121; }
  .callout.details {
    background-color: #d7edfc;
    color: #212121; }
  .callout.complementary {
    background-color: #d0e5f3;
    color: #212121; }
  .callout.success {
    background-color: #f8fdf7;
    color: #212121; }
  .callout.warning {
    background-color: #fdfdf1;
    color: #212121; }
  .callout.alert {
    background-color: #fdecea;
    color: #212121; }
  .callout.small {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem; }
  .callout.large {
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem; }
