/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.accordion {
  margin-left: 0;
  background: transparent;
  list-style-type: none; }
  .accordion[disabled] .accordion-title {
    cursor: not-allowed; }

.accordion-item:first-child > :first-child {
  border-radius: 0 0 0 0; }

.accordion-item:last-child > :last-child {
  border-radius: 0 0 0 0; }

.accordion-title {
  position: relative;
  display: block;
  padding: 1.25rem 1rem;
  border: 1px solid #18405b;
  border-bottom: 0;
  font-size: 0.75rem;
  line-height: 1;
  color: #1976d2; }
  :last-child:not(.is-active) > .accordion-title {
    border-bottom: 1px solid #18405b;
    border-radius: 0 0 0 0; }
  .accordion-title:hover, .accordion-title:focus {
    background-color: #1976d2; }
  .accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: '+'; }
  .is-active > .accordion-title::before {
    content: '\2013'; }

.accordion-content {
  display: none;
  padding: 1rem;
  border: 1px solid #18405b;
  border-bottom: 0;
  background-color: #e3e3e3;
  color: #212121; }
  :last-child > .accordion-content:last-child {
    border-bottom: 1px solid #18405b; }

.accordion-title {
  font-size: 13.28px; }
