/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
[type='file'],
[type='checkbox'],
[type='radio'] {
  margin: 0 0 1rem; }

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0; }
  [type='checkbox'] + label[for],
  [type='radio'] + label[for] {
    cursor: pointer; }

label > [type='checkbox'],
label > [type='radio'] {
  margin-right: 0.5rem; }

[type='file'] {
  width: 100%; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

legend {
  max-width: 100%;
  margin-bottom: 0.5rem; }

.fieldset {
  margin: 1.125rem 0;
  padding: 1.25rem;
  border: 1px solid #18405b; }
  .fieldset legend {
    margin: 0;
    margin-left: -0.1875rem;
    padding: 0 0.1875rem; }

.help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: #212121; }

.input-group {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  align-items: stretch; }
  .input-group > :first-child {
    border-radius: 0 0 0 0; }
  .input-group > :last-child > * {
    border-radius: 0 0 0 0; }

.input-group-label, .input-group-field, .input-group-button, .input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  margin: 0;
  white-space: nowrap; }

.input-group-label {
  padding: 0 1rem;
  border: 1px solid #18405b;
  background: #e3e3e3;
  color: #212121;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex: 0 0 auto;
  align-items: center; }
  .input-group-label:first-child {
    border-right: 0; }
  .input-group-label:last-child {
    border-left: 0; }

.input-group-field {
  border-radius: 0;
  flex: 1 1 0px;
  min-width: 0; }

.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: flex;
  flex: 0 0 auto; }
  .input-group-button a,
  .input-group-button input,
  .input-group-button button,
  .input-group-button label {
    height: auto;
    align-self: stretch;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #18405b;
  border-radius: 0;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(33, 33, 33, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #212121;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  appearance: none; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #18405b;
    background-color: #fff;
    box-shadow: 0 0 5px #18405b;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

textarea {
  max-width: 100%; }
  textarea[rows] {
    height: auto; }

input::placeholder,
textarea::placeholder {
  color: #e3e3e3; }

input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: white;
  cursor: not-allowed; }

[type='submit'],
[type='button'] {
  appearance: none;
  border-radius: 0; }

input[type='search'] {
  box-sizing: border-box; }

meter {
  display: block;
  width: 100%;
  height: 1rem;
  margin-bottom: 1rem;
  /*! autoprefixer: off */
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: #e3e3e3; }
  meter::-webkit-meter-bar {
    border: 0;
    background: #e3e3e3; }
  meter::-webkit-meter-optimum-value {
    background: #d0f2c7; }
  meter::-webkit-meter-suboptimum-value {
    background: #f2f2a4; }
  meter::-webkit-meter-even-less-good-value {
    background: #f28072; }
  meter::-moz-meter-bar {
    background: #1976d2; }
  meter:-moz-meter-optimum::-moz-meter-bar {
    background: #d0f2c7; }
  meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #f2f2a4; }
  meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #f28072; }

progress {
  display: block;
  width: 100%;
  height: 1rem;
  margin-bottom: 1rem;
  appearance: none;
  border-radius: 0;
  border: 0;
  background: #e3e3e3; }
  progress::-webkit-progress-bar {
    background: #e3e3e3;
    border-radius: 0; }
  progress::-webkit-progress-value {
    background: #1976d2;
    border-radius: 0; }
  progress::-moz-progress-bar {
    background: #1976d2;
    border-radius: 0; }
  progress.primary {
    color: #1976d2; }
    progress.primary::-webkit-progress-value {
      background: #1976d2; }
    progress.primary::-moz-progress-bar {
      background: #1976d2; }
  progress.secondary {
    color: #b0bec5; }
    progress.secondary::-webkit-progress-value {
      background: #b0bec5; }
    progress.secondary::-moz-progress-bar {
      background: #b0bec5; }
  progress.p-light {
    color: #63a4ff; }
    progress.p-light::-webkit-progress-value {
      background: #63a4ff; }
    progress.p-light::-moz-progress-bar {
      background: #63a4ff; }
  progress.p-dark {
    color: #004ba0; }
    progress.p-dark::-webkit-progress-value {
      background: #004ba0; }
    progress.p-dark::-moz-progress-bar {
      background: #004ba0; }
  progress.s-light {
    color: #e2f1f8; }
    progress.s-light::-webkit-progress-value {
      background: #e2f1f8; }
    progress.s-light::-moz-progress-bar {
      background: #e2f1f8; }
  progress.s-dark {
    color: #808e95; }
    progress.s-dark::-webkit-progress-value {
      background: #808e95; }
    progress.s-dark::-moz-progress-bar {
      background: #808e95; }
  progress.details {
    color: #1181cd; }
    progress.details::-webkit-progress-value {
      background: #1181cd; }
    progress.details::-moz-progress-bar {
      background: #1181cd; }
  progress.complementary {
    color: #18405b; }
    progress.complementary::-webkit-progress-value {
      background: #18405b; }
    progress.complementary::-moz-progress-bar {
      background: #18405b; }
  progress.success {
    color: #d0f2c7; }
    progress.success::-webkit-progress-value {
      background: #d0f2c7; }
    progress.success::-moz-progress-bar {
      background: #d0f2c7; }
  progress.warning {
    color: #f2f2a4; }
    progress.warning::-webkit-progress-value {
      background: #f2f2a4; }
    progress.warning::-moz-progress-bar {
      background: #f2f2a4; }
  progress.alert {
    color: #f28072; }
    progress.alert::-webkit-progress-value {
      background: #f28072; }
    progress.alert::-moz-progress-bar {
      background: #f28072; }
  progress::-ms-fill {
    border-radius: 0;
    border: 0; }

input[type="range"] {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.45rem;
  margin-bottom: 0.45rem;
  appearance: none;
  border: 0;
  line-height: 1;
  cursor: pointer; }
  input[type="range"]:focus {
    outline: 0; }
  input[type="range"][disabled] {
    opacity: 0.25; }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 0.5rem;
    background: white; }
  input[type="range"]::-webkit-slider-thumb {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.45rem;
    -webkit-appearance: none;
    background: #1976d2; }
  input[type="range"]::-moz-range-track {
    height: 0.5rem;
    -moz-appearance: none;
    background: white; }
  input[type="range"]::-moz-range-thumb {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.45rem;
    -moz-appearance: none;
    background: #1976d2; }
  input[type="range"]::-ms-track {
    height: 0.5rem;
    border: 0;
    border-top: 0.45rem solid #fff;
    border-bottom: 0.45rem solid #fff;
    background: white;
    overflow: visible;
    color: transparent; }
  input[type="range"]::-ms-thumb {
    width: 1.4rem;
    height: 1.4rem;
    border: 0;
    background: #1976d2; }
  input[type="range"]::-ms-fill-lower {
    background: #e3e3e3; }
  input[type="range"]::-ms-fill-upper {
    background: white; }
  output {
    vertical-align: middle;
    margin-left: 0.5em;
    line-height: 1.4rem; }

form,
.form {
  flex: 1 1 0px;
  width: auto;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
  border-radius: .25rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem; }
  form.no-border,
  .form.no-border {
    border: 0; }
  form.no-margin,
  .form.no-margin {
    margin: 0; }
  form.no-padding,
  .form.no-padding {
    padding: 0; }
  form a.token-dialog,
  .form a.token-dialog {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #b0bec5;
    color: #b0bec5;
    display: inline-flex;
    font-weight: normal;
    margin-top: 2rem;
    padding: 1rem; }
    [data-whatinput='mouse'] form a.token-dialog, [data-whatinput='mouse']
    .form a.token-dialog {
      outline: 0; }
    form a.token-dialog, form a.token-dialog:hover, form a.token-dialog:focus,
    .form a.token-dialog,
    .form a.token-dialog:hover,
    .form a.token-dialog:focus {
      background-color: transparent; }
    form a.token-dialog.disabled, form a.token-dialog.disabled:hover, form a.token-dialog.disabled:focus, form a.token-dialog[disabled], form a.token-dialog[disabled]:hover, form a.token-dialog[disabled]:focus,
    .form a.token-dialog.disabled,
    .form a.token-dialog.disabled:hover,
    .form a.token-dialog.disabled:focus,
    .form a.token-dialog[disabled],
    .form a.token-dialog[disabled]:hover,
    .form a.token-dialog[disabled]:focus {
      background-color: transparent; }
    form a.token-dialog:hover, form a.token-dialog:focus,
    .form a.token-dialog:hover,
    .form a.token-dialog:focus {
      border-color: #4f626c;
      color: #4f626c; }
      form a.token-dialog:hover.disabled, form a.token-dialog:hover[disabled], form a.token-dialog:focus.disabled, form a.token-dialog:focus[disabled],
      .form a.token-dialog:hover.disabled,
      .form a.token-dialog:hover[disabled],
      .form a.token-dialog:focus.disabled,
      .form a.token-dialog:focus[disabled] {
        border: 1px solid #b0bec5;
        color: #b0bec5; }
  form div.form-wrapper,
  .form div.form-wrapper {
    margin-top: 1rem; }
  form-padded,
  .form-padded {
    padding-left: 1rem;
    padding-right: 1rem; }
  form label,
  .form label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #212121; }
    form label.centered,
    .form label.centered {
      margin: 0 0 1rem;
      padding: 0.5625rem 0; }
  form select,
  .form select {
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    appearance: none;
    border: 1px solid #18405b;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212121;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none; }
    @media screen and (min-width: 0\0) {
      form select,
      .form select {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg=="); } }
    form select:focus,
    .form select:focus {
      outline: none;
      border: 1px solid #18405b;
      background-color: #fff;
      box-shadow: 0 0 5px #18405b;
      transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }
    form select:disabled,
    .form select:disabled {
      background-color: white;
      cursor: not-allowed; }
    form select::-ms-expand,
    .form select::-ms-expand {
      display: none; }
    form select[multiple],
    .form select[multiple] {
      height: auto;
      background-image: none; }

.description {
  white-space: normal; }

.required {
  font-weight: bold; }
  .required::after {
    content: ' *';
    display: inline; }
