@import '../../settings'
@import '../util/mixins'
@import foundation
@import menu
@import grid


table
  margin-top: $global-margin

.form

  &-actions

    & input
      padding-bottom: $global-padding
      padding-top: $global-padding

.views

  & div
    &.views-form
      +xy-cell(12)

  &-empty
    font-size: $h4-font-size
    padding: $global-padding

  &-exposed-form
    +xy-cell(12)

  &-field

    &-user-bulk-form

      & input
        margin: 0

    & ul
      +menu-align(center)
      +menu-base
      +menu-direction(vertical)

  &-list

    &-section > h2
      font-size: $lead-font-size

  &-table

    & thead
      background-color: $md-secondary
      color: $white
      font-size: $h3-font-size

  &-ui-view

    &-description,
    &-displays
      font-size: $h5-font-size

    &-name

      & h3
        font-size: $h4-font-size

