/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.compact-link a {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid #808e95;
  color: #808e95;
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0; }
  [data-whatinput='mouse'] .compact-link a {
    outline: 0; }
  .compact-link a, .compact-link a:hover, .compact-link a:focus {
    background-color: transparent; }
  .compact-link a.disabled, .compact-link a.disabled:hover, .compact-link a.disabled:focus, .compact-link a[disabled], .compact-link a[disabled]:hover, .compact-link a[disabled]:focus {
    background-color: transparent; }
  .compact-link a:hover, .compact-link a:focus {
    border-color: #3f474b;
    color: #3f474b; }
    .compact-link a:hover.disabled, .compact-link a:hover[disabled], .compact-link a:focus.disabled, .compact-link a:focus[disabled] {
      border: 1px solid #808e95;
      color: #808e95; }

.panel {
  border: thin solid #b0bec5;
  box-shadow: 0.125rem 0.125rem 0.25rem #8a8a8a;
  margin-bottom: 0.5rem; }
  .panel a {
    color: #1976d2; }
    .panel a:active, .panel a:focus, .panel a:hover {
      color: #004ba0; }
  .panel-title {
    border-bottom: thin solid #1976d2;
    font-size: 125%;
    padding: 1rem;
    text-transform: uppercase; }
  .panel-content, .panel-description {
    padding: 1rem; }
