/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.branding-container a {
  display: flex; }
  .branding-container a img {
    padding-left: 0.5rem;
    height: 2.5rem;
    width: auto; }
  .branding-container a p {
    font-size: 100%;
    line-height: 2.5rem;
    margin: 0;
    padding-left: .5rem;
    text-transform: uppercase;
    white-space: revert; }

@media print, screen and (min-width: 40em) {
  .branding-container a img {
    margin: 0;
    padding: 0; } }
