/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.menu-local-actions {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  flex-direction: column;
  border-top: thin solid #b0bec5;
  margin-top: 2rem;
  padding-top: 0.5rem; }
  [data-whatinput='mouse'] .menu-local-actions li {
    outline: 0; }
  .menu-local-actions a,
  .menu-local-actions .button {
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 0.7rem 1rem; }
  .menu-local-actions input,
  .menu-local-actions select,
  .menu-local-actions a,
  .menu-local-actions button {
    margin-bottom: 0; }
  .menu-local-actions input {
    display: inline-block; }

@media print, screen and (min-width: 40em) {
  .menu-local-actions {
    flex-wrap: wrap;
    flex-direction: row; } }
