/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.search-box {
  margin-bottom: 0; }
  .search-box input {
    height: 100%;
    margin-bottom: 0; }
