/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.local-tasks {
  width: calc(100% - 1.25rem);
  margin-right: 0.625rem;
  margin-left: 0.625rem; }

@media print, screen and (min-width: 64em) {
  .local-tasks {
    flex: 1 1 0px;
    width: auto;
    margin-right: 0.9375rem;
    margin-left: 0.9375rem; } }
