@import '../../settings'
@import material-shadows
@import foundation
@import callout
@import card

$md-alert: get-color(alert)
$md-success: get-color(success)
$md-warning: get-color(warning)
$md-border: thin solid $shadow-color
$md-border-radius: rem-calc(10)
$md-element-shadow: rem-calc(1) rem-calc(2) rem-calc(.75) $shadow-color
$md-card-shadow: + z-depth(2)
$md-text-shadow: 0 0 rem-calc(1) $shadow-color

// Custom list image.
=custom-list-image($theme-name, $image-url, $type)
  @if (nested == $type)
    & .#{$theme-name}
      +list-image($image-url)
  @else if (same == $type)
    &.#{$theme-name}
      +list-image($image-url)
  @else if (classes == $type)
    .#{$theme-name}
      +list-image($image-url)
  @else
    .#{$theme-name}
      +list-image($image-url)

// List image.
=list-image($image-url)
  &.list

    &-image
      background-image: url($image-url)
      background-position: rem-calc(2.5) rem-calc(12)
      background-repeat: no-repeat
      background-size: rem-calc(15) rem-calc(41)
      height: inherit
      width: rem-calc(20)

      +breakpoint(medium)
        background-position: rem-calc(5) rem-calc(8)
        background-size: rem-calc(30) rem-calc(81)
        width: rem-calc(40)

// Color classes.
=color-classes
  .primary
    background-color: get-color(primary)

  .secondary
    background-color: get-color(secondary)

  .transparent
    background-color: transparent
    box-shadow: none

// Drupal breadcrumbs classes.
=drupal-breadcrumbs($color)
  .breadcrumbs

    & a
      color: $color

      &:hover
        color: $color

// Drupal buttons classes.
=drupal-buttons-classes($material: true)
  @if (true == $material)
    .button
      background-color: $md-primary

      &--primary
        background-color: $md-primary

        &-dark
          background-color: $md-primary-dark

        &-light
          background-color: $md-primary-light

      &--secondary
        background-color: $md-secondary

        &-dark
          background-color: $md-secondary-dark

        &-light
          background-color: $md-secondary-light

  @else
    .button
      background-color: get-color(primary)

      &--primary
        background-color: get-color(primary)

        &-dark
          background-color: darken(get-color(primary), 15%)

        &-light
          background-color: lighten(get-color(primary), 15%)

      &--secondary
        background-color: get-color(secondary)

        &-dark
          background-color: darken(get-color(secondary), 15%)

        &-light
          background-color: lighten(get-color(secondary), 15%)

// Drupal buttons classes.
=drupal-definition-classes($nested: true, $material: true)
  $base-class: list-group
  $description-class: #{$base-class}__description
  $link-class: #{$base-class}__link

  @if (true == $nested)
    dl

      &.#{$base-class}

        & .#{$link-class} > a
          @if (true == $material)
            +link($md-primary, $md-primary-dark)
          @else
            +link(get-color(primary), get-color(secondary))


    .#{$description-class}
      border-bottom: thin solid $md-primary-light
      padding-bottom: $global-padding * .75
      text-indent: rem-calc(10)

      &:not(:last-child)
        margin-bottom: $global-margin * .5

      &:not(:empty)

        &::before
          content: '-'
          font-size: rem-calc(15)
          font-weight: bolder
          padding-right: $global-padding * .5


  @else
    .#{$base-class}

      & dd

        &.#{$description-class}
          text-indent: rem-calc(5)

// Drupal local tasks link.
=drupal-local-tasks-link($material: true)
  .menu-local-tasks

    & a
      +link($md-secondary-dark, $black, false)
      background-color: $md-primary

// Drupal link.
=drupal-link($material: true)
  @if (true == $material)
    +md-link

      &.link
        +md-link

    .link,
    h1 > a,
    h2 > a,
    h3 > a,
    h4 > a
      +md-link

// Drupal menu link.
=drupal-menu-link()
  & li

    & a
      +drupal-link

// Drupal node base class generator.
=drupal-node
  .node
    @content

// Drupal node links class generator.
=drupal-node-links($nested: true)
  @if (true == $nested)
    & .links
      @content
  @else
    .node
      & .links
        @content

// Drupal node title class generator.
=drupal-node-title($nested: true)
  @if (true == $nested)
    &-title
      @content
  @else
    .node-title
      @content

// Drupal node type classes generator.
=drupal-node-type($node-type: null, $nested: true)
  @if (null != $node-type and true == $nested)
    &.node--type-#{$node-type}
      @content
  @elseif (null != $node-type and false == $nested)
    .node--type-#{$node-type}
      @content

// Drupal node view-mode classes generator.
=drupal-node-view-mode($view-mode: null, $nested: true)
  @if (null != $view-mode and true == $nested)
    &.node--view-mode-#{$view-mode}
      @content
  @elseif (null != $view-mode and false == $nested)
    .node--view-mode-#{$view-mode}
      @content

// Material color divider
=md-divider()
  border-bottom: rem-calc(1) solid $white

  &.md

    &-primary
      border-bottom: rem-calc(1) solid $md-primary

      &-dark
        border-bottom: rem-calc(1) solid $md-primary-dark

      &-light
        border-bottom: rem-calc(1) solid $md-primary-light

    &-secondary
      border-bottom: rem-calc(1) solid $md-secondary

      &-dark
        border-bottom: rem-calc(1) solid $md-secondary-dark

      &-light
        border-bottom: rem-calc(1) solid $md-secondary-light

/// Material styles mixins.
=md-element-shadow($element-shadow: $md-element-shadow)
  box-shadow: $element-shadow

=md-text-shadow($active: false)
  @if (true == $active)
    text-shadow: $md-text-shadow
  @else
    text-shadow: none

=md-card($background: $gray, $color: $black, $margin: 2, $border: $md-border, $border-radius: $md-border-radius, $shadow: $md-card-shadow)
  +card-container($background, $color, $margin, $border, $border-radius, $shadow)

  & h1,
  & h2,
  & h3,
  & h4
    border-bottom: medium solid $md-secondary

  & p
    font-size: $global-font-size * .8

  & a
    +md-link($md-secondary)

// Material color link.
=md-link()
  +link($md-secondary-light, $md-primary, false)
  +link-active($md-secondary-dark)
  +link-disabled

  &.hidden
    display: none
    visibility: hidden

  & span
    color: $md-secondary-light

    &:active,
    &:focus,
    &:hover
      color: $md-secondary-dark

  @content

=md-message($color: $md-success)
  +callout($color)
  background-color: $color
  border-bottom: thin solid darken($color, 20%)
  border-left: rem-calc(10) solid darken($color, 20%)
  border-right: thin solid darken($color, 20%)
  border-top: thin solid darken($color, 20%)

/// Toggle buttons mixins
=toggle-button($size: rem-calc(70), $rounded: false)
  .toggle

    &.button
      +z-depth(2)
      @if ($rounded == true)
        border-radius: $size / 2
      height: $size
      width: $size

      &:active,
      &:target
        +z-depth(8)

    & i
      font-size: $h1-font-size
      margin: 0
      padding: $global-padding / 2

/// Details mixins
=details-active-link($color: $md-primary)
  background-color: transparent
  border-left: medium solid $color
  color: $color
  font-weight: normal

  &:active,
  &:focus,
  &:hover
    background-color: transparent
    color: $color
    font-weight: bolder
    text-decoration: none

/// Generate the properties that set margin and padding to 0.
=without($element)

  @if ($element == margin)
    margin-bottom: 0 !important
    margin-left: 0 !important
    margin-right: 0 !important
    margin-top: 0 !important
  @else if ($element == padding)
    padding-bottom: 0 !important
    padding-left: 0 !important
    padding-right: 0 !important
    padding-top: 0 !important
  @else
    @return null

=link($color, $hover-color, $decoration: true)
  color: $color
  text-shadow: none
  width: 100%

  &.is-active,
  &:active
    border-bottom: medium solid $color

  &:focus,
  &:hover
    color: $hover-color
    @if (true == $decoration)
      text-decoration: underline
    @else
      text-decoration: none
    text-shadow: none

  @content

// Link disabled.
=link-active($color: null)
  @if (null != $color)
    &.is-active,
    &:active,
    &:focus,
    &:hover
      -webkit-text-decoration-color: $color
      text-decoration: underline
      text-decoration-color: $color
      text-shadow: none
  @else
    &.is-active,
    &:active,
    &:focus,
    &:hover
      -webkit-text-decoration-color: get-color(primary)
      text-decoration: underline
      text-decoration-color: get-color(primary)
      text-shadow: none

// Link disabled.
=link-disabled($color: null)
  &.disabled
    color: $gray
    cursor: no-drop

    &.is-active,
    &:active
      @if (null != $color)
        border-bottom: medium solid $color
      @else
        border-bottom: medium solid get-color(primary)


    &:focus,
    &:hover
      color: $gray
      text-decoration: none
      text-shadow: none

    & span
      color: $gray
      cursor: no-drop

      &.is-active,
      &:active
        @if (null != $color)
          border-bottom: medium solid $color
        @else
          border-bottom: medium solid get-color(primary)


      &:focus,
      &:hover
        color: $gray
        text-decoration: none
        text-shadow: none

/// Generate basic link color properties.
=link-styles($style: default, $material: true)

  @if ($style == light)

    +link($black, $black)

  @if ($style == dark)

    +link($white, $white)

  @if (default == $style and true == $material)
    +link($md-primary, $md-primary-dark)

  @if (default == $style and false == $material)
    +link(get-color(primary), get-color(secondary))

/// Basic styles used in footer regions.
=region-footer-menu

  & ul

    &.menu
      +menu-direction(vertical)
      +menu-align(center)
