/// Menu tools styles.
@import '../../settings'
@import '../util/mixins'
@import foundation
@import menu

+toggle-button

.menu

  &-tools
    +menu-base
    +menu-direction(vertical)
    +menu-expand
    margin-bottom: rem-calc(15)
    margin-top: rem-calc(15)

    & a
      color: $black
      cursor: pointer
      font-size: $h4-font-size
      font-weight: normal
      line-height: inherit
      text-align: center
      vertical-align: middle

      &:active,
      &:focus
        outline: $md-primary-dark

      &.is-active,
      &:active
        border-bottom: medium solid $md-primary-light

      &.is-active,
      &:active,
      &:focus,
      &:hover
        color: $black
        font-weight: bolder
        text-decoration: none

+breakpoint(large)

  .menu

    &-tools
      +menu-align(center)
      +menu-direction(horizontal)
