/// Menu local tasks styles.
@import '../../settings'
@import '../util/mixins'
@import foundation
@import menu

+toggle-button

.menu

  &-local-tasks
    +menu-base
    +menu-direction(vertical)
    +menu-expand

    &.secondary

      &:not(:first-child)
        margin-top: $global-margin * 1.8

    & a
      color: $black
      cursor: pointer
      font-size: $h4-font-size
      font-weight: normal
      line-height: inherit
      text-align: center
      vertical-align: middle
      width: 100%

      &:active,
      &:focus
        outline: $md-primary-dark

      &.is-active,
      &:active
        border-bottom: medium solid $md-primary-light

      &.is-active,
      &:active,
      &:focus,
      &:hover
        color: $black
        font-weight: bolder
        text-decoration: none

    &.secondary
      +menu-base
      +menu-direction(vertical)
      +menu-expand
      margin-top: $global-margin * 1.5

  &-secondary-tasks,
  &-local-secondary-tasks
    +menu-base
    +menu-direction(vertical)
    +menu-expand

+breakpoint(large)

  .menu

    &-local-tasks
      +menu-align(center)
      +menu-direction(horizontal)

      &.secondary
        +menu-align(center)
        +menu-direction(horizontal)

        &:not(:first-child)
          margin-top: $global-margin * 3

    &-secondary-tasks
      +menu-align(center)
      +menu-direction(horizontal)
