/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.field-label {
  font-weight: bolder;
  letter-spacing: 0.2rem;
  padding: 1rem;
  text-transform: uppercase; }
