/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.tag {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border: 1px solid #63a4ff;
  color: #63a4ff;
  border-bottom: 0;
  border-top: 0;
  text-transform: uppercase; }
  [data-whatinput='mouse'] .tag {
    outline: 0; }
  .tag, .tag:hover, .tag:focus {
    background-color: transparent; }
  .tag.disabled, .tag.disabled:hover, .tag.disabled:focus, .tag[disabled], .tag[disabled]:hover, .tag[disabled]:focus {
    background-color: transparent; }
  .tag:hover, .tag:focus {
    border-color: #004ab1;
    color: #004ab1; }
    .tag:hover.disabled, .tag:hover[disabled], .tag:focus.disabled, .tag:focus[disabled] {
      border: 1px solid #63a4ff;
      color: #63a4ff; }

.tags {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }
  .tags::before, .tags::after {
    display: table;
    content: ' ';
    flex-basis: 0;
    order: 1; }
  .tags::after {
    clear: both; }
  .tags .tag {
    margin: 0;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    flex: 0 0 auto; }
    .tags .tag:last-child {
      margin-right: 0; }
  .tags:not(:last-child) {
    margin-right: 1rem; }
