/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.field-user-picture a img {
  height: 3rem;
  max-width: 3rem;
  width: auto; }

.user-picture:focus, .user-picture:hover {
  border-bottom: thin solid #1181cd;
  padding-bottom: 1rem; }

.user-pictures.container {
  border: thin solid #1181cd;
  padding: 1rem; }
