{#
/**
 * @file
 * Yeti theme implementation to display main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('yeti/drilldown') }}
{{ attach_library('yeti/dropdown') }}
{{ attach_library('yeti/dropdown.menu') }}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}

  {%
    set classes = [
    'vertical',
    'medium-horizontal',
    'menu',
  ]
  %}

  {% if items %}

    {% set has_children = false %}
    {% for item in items %}
      {% if item.below %}
        {% set has_children = true %}
      {% endif %}
    {% endfor %}

    {% if has_children == true and menu_level == 0 %}
      <ul{{ attributes.addClass(classes) }}
        data-responsive-menu="drilldown medium-dropdown"
        data-auto-height="true"
      >
    {% else %}
      <ul{{ attributes.addClass(classes) }}>
    {% endif %}
      {% for item in items %}
        <li{{ item.attributes }}>
          <h3 class="show-for-sr">{{ item.title }}</h3>
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% endif %}

{% endmacro menu_links %}
