{#
/**
 * @file
 * Yeti theme implementation to display a tools menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('yeti/navigation.tools') }}

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}

  {%
    set default_classes = [
    'dropdown',
    'menu-tools',
    'md-primary',
  ]
  %}

  {%
    set dropdown_classes = [
    'dropdown',
    'menu-tools',
    'md-primary',
  ]
  %}

  {% if items %}

    {% set has_children = false %}

    {% for item in items %}
      {% if item.below %}
        {% set has_children = true %}
      {% endif %}
    {% endfor %}

    <h2 class="show-for-sr">{{ 'Tools menu'|t }}</h2>

    {# Create a mobile menu #}

    <button class="toggle button large hide-for-large" type="button" data-toggle="tools-menu">
      <i class="fi-lightbulb"></i>
    </button>
    <ul id="tools-menu" class="dropdown-pane vertical menu hide-for-large" data-dropdown data-autofocus="true">
      {% for item in items %}
        <li{{ item.attributes }}>
          <h3 class="show-for-sr">{{ item.title }}</h3>
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    {# Create a desktop menu #}

    {% if has_children == true and menu_level == 0 %}
      <ul{{ attributes.addClass(dropdown_classes) }} data-dropdown-menu>
    {% elseif has_children == false and menu_level == 0 %}
      <ul{{ attributes.addClass(default_classes) }} data-dropdown-menu>
    {% else %}
      <ul class="menu">
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes.addClass('show-for-large') }}>
        <h3 class="show-for-sr">{{ item.title }}</h3>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>

  {% endif %}

{% endmacro menu_links %}
