@import '../../settings'
@import foundation

.compact

  &-link

    & a
      +button(true, $md-secondary-dark, $black, $white, hollow)

.panel
  border: thin solid $md-secondary
  box-shadow: rem-calc(2) rem-calc(2) rem-calc(4) $shadow-color
  margin-bottom: $global-margin / 2

  & a
    color: $md-primary

    &:active,
    &:focus,
    &:hover
      color: $md-primary-dark

  &-title
    border-bottom: thin solid $md-primary
    font-size: $lead-font-size
    padding: $global-padding
    text-transform: uppercase

  &-content,
  &-description
    padding: $global-padding
