@import '../../settings'
@import foundation

.menu

  &-local

    &-actions
      +menu-base
      +menu-direction(vertical)
      border-top: thin solid $md-secondary
      margin-top: $global-margin * 2
      padding-top: $global-padding / 2

+breakpoint(medium)
  .menu

    &-local

      &-actions
        +menu-direction(horizontal)