/// Branding block styles.
@import '../../settings'
@import foundation

$branding-element-height: 2.5rem

.branding-container

  & a

    display: flex

    & img
      padding-left: $global-padding / 2
      height: $branding-element-height
      width: auto

    & p
      font-size: $global-font-size
      line-height: $branding-element-height
      margin: 0
      padding-left: .5rem
      text-transform: uppercase
      white-space: revert

+breakpoint(medium)

  .branding-container

    & a

      & img
        margin: 0
        padding: 0