{#
/**
 * @file
 * Yeti theme override to display a branding region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'grid-x',
    'grid-padded',
    'region-' ~ region|clean_class,
    'show-for-medium',
    'cell',
    'shrink',
  ]
%}
{% if content %}
  <section{{ attributes.addClass(classes) }}>
    {{ content }}
  </section>
{% endif %}
