{#
/**
 * @file
 * Yeti theme override to display content region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('yeti/regions.content') }}

{%
  set classes = [
    'region-' ~ region|clean_class,
  ]
%}

{% if content %}
  <section{{ attributes.addClass(classes) }} role="complementary">
    <h2 class="show-for-sr">{{ 'Page content'|t }}</h2>
    {{ content }}
  </section>
{% endif %}