{#
/**
 * @file
 * Yeti theme override to display Messages region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('yeti/regions.messages') }}

{%
  set classes = [
    'page',
    'region-' ~ region|clean_class,
    'small-12',
    'cell',
  ]
%}

{% if content %}
  <aside{{ attributes.addClass(classes) }} role="complementary">
    {{ content }}
  </aside>
{% endif %}