{#
/**
 * @file
 * Yeti theme override to display breadcrumbs region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('yeti/regions.breadcrumbs') }}

{%
  set classes = [
  'page-breadcrumbs',
  'region-' ~ region|clean_class,
]
%}

{% if content %}
  <aside{{ attributes.addClass(classes) }} role="complementary">
    {{ content }}
  </aside>
{% endif %}