{#
/**
 * @file
 * Yeti theme override to display Messages region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('yeti/titlebar') }}
{{ attach_library('yeti/topbar') }}

{%
  set nav_classes = [
    'top-bar-left',
    'region-' ~ region|clean_class,
  ]
%}

{% set heading_id = 'topbar-left-menu' %}

{% if content %}
  <nav{{ attributes.addClass(nav_classes) }}
    role="navigation"
    aria-labelledby="{{ heading_id }}"
    {{ attributes|without('role', 'aria-labelledby') }}
  >
    <div class="menu-left">
      {{ content }}
    </div>
  </nav>
{% endif %}