{#
/**
 * @file
 * Yeti theme override to display an action region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{{ attach_library('yeti/regions.actions') }}

{%
  set classes = [
    'region-' ~ region|clean_class,
  ]
%}

{% if content %}
  <aside{{ attributes.addClass(classes) }}>
    <div class="region-actions-inner">
      {{ content }}
    </div>
  </aside>
{% endif %}
