{#
/**
 * @file
 * Yeti theme override to display footer top-left region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{{ attach_library('yeti/regions.footer_top_left') }}

{%
  set classes = [
    'grid-x',
    'grid-padded',
    'region-' ~ region|clean_class,
  ]
%}

{% if content %}
  <section{{ attributes.addClass(classes) }}>
    {{ content }}
  </section>
{% endif %}
