<div class="color-preview grid-x grid-padding-x">

  <div class="color-preview-header top-bar menubar">
    <div class="branding-container">
      <a href="#">
        <img src="../../../themes/custom/yeti/logo.svg" alt="Site Logo" />
        <p>Yeti</p>
      </a>
    </div>
      <div class="top-bar-left">
        <div class="menu-right">
          <ul class="color-preview-navbar-menu menu">
              <li class="color-preview-navbar-links"><a>Home</a></li>
              <li class="color-preview-navbar-links"><a>Te Quidne</a></li>
              <li class="color-preview-navbar-links"><a>Vel Torqueo Quae Erat</a></li>
          </ul>
        </div>
      </div>
  </div>

  <div class="color-preview-main grid-x grid-padded">
    <div class="small-12 cell">
      <button class="button--primary">Primary button</button>
      <button class="button--danger">Alert button</button>
      <button class="button--success">Success button</button>
    </div>
    <div class="color-preview-sidebar small-4 cell sidebar">
      <div class="color-preview-block preview-block">
        <h2>Etiam est risus</h2>
        <div class="preview-content">
          Maecenas id porttitor Ut enim ad minim veniam, quis nostrudfelis.
          Laboris nisi ut aliquip ex ea.
        </div>
      </div>
    </div>
    <div class="color-preview-content small-8 cell">
      <h1 class="color-preview-page-title">Lorem ipsum dolor</h1>
      <div class="color-preview-node">
        <div class="preview-content">
          Sit amet, <a class="link">consectetur adipisicing elit</a>, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud <a class="link">exercitation ullamco</a> laboris nisi ut aliquip ex ea
          commodo consequat. Maecenas id porttitor Ut enim ad minim veniam, quis nostr udfelis.
        </div>
      </div>
    </div>
  </div>

  <div class="color-preview-footer-wrapper">
    <div class="color-preview-footer-columns">
      <div class="preview-footer-column footer grid-x grid-padded">

        <div class="preview-block preview-block-menu small-4 cell">
          <div class="preview-content">
            <ul class="vertical menu align-center">
              <li><a>Donec placerat</a></li>
              <li><a>Nullam nibh dolor</a></li>
              <li><a>Blandit sed</a></li>
              <li><a>Fermentum id</a></li>
            </ul>
          </div>
        </div>

        <div class="preview-block preview-block-menu small-4 cell">
          <div class="preview-content">
            <ul class="vertical menu align-center">
              <li><a>Nullam nibh dolor</a></li>
              <li><a>Blandit sed</a></li>
              <li><a>Fermentum id</a></li>
              <li><a>Donec placerat</a></li>
            </ul>
          </div>
        </div>

        <div class="preview-block preview-block-menu small-4 cell">
          <div class="preview-content">
            <ul class="vertical menu align-center">
              <li><a>Donec placerat</a></li>
              <li><a>Nullam nibh dolor</a></li>
              <li><a>Blandit sed</a></li>
              <li><a>Fermentum id</a></li>
            </ul>
          </div>
        </div>

      </div>

      <div class="preview-footer-column region-end-of-page">
        <div class="preview-block">
          <div class="content">
            Maecenas id porttitor Ut enim ad minim veniam, quis nostrudfelis.
            Laboris nisi ut aliquip ex ea.
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
