{#
/**
 * @file
 * Yeti implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 *
 * @see template_preprocess_maintenance_page()
 */
 #}

{{ attach_library('yeti/maintenance') }}

<div class="maintenance-container">
  <main id="maintenance-content" class="maintenance md-secondary">
    <div id="maintenance-inner" class="maintenance-inner">
      <img src="{{ logo }}" alt="{{ site_name }}" title="{{ site_name }} logo" width="250" height="250" class="maintenance-logo">
      <h1 class="maintenance-title" id="maintenance-title">{{ site_name }} {{ 'in costruzione'|t }}</h1>
      <section id="countdown" class="small-12 cell countdown-container">
        <div class="countdown"></div>
      </section>
      <p class="maintenance-messsage">{{ page.content }}</p>
      {{ page.highlighted }}
    </div>
  </main>
  <footer id="page-footer" class="maintenance-footer">
    <p class="copyright">© 2018 <span class="copyright-name">{{ site_name }}</span></p>
  </footer>
</div>