{#
/**
 * @file
 * Yeti theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div id="page-navigation" class="page navigation">
  <header id="header" class="page header" role="banner" aria-label="{{ 'Site header'|t }}">
    {{ page.header }}
    {#
    Title Bar Region. It is rendered only if some kind of blocks are added
    to either page.titlebar_left or page.titlebar_right.
    #}
    {% if page.titlebar_left or page.titlebar_right %}
      <div id="menubar-responsive" class="title-bar menubar" data-responsive-toggle="menubar" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="menubar"></button>
        <div class="title-bar-title">Menu</div>
      </div>
      <div class="top-bar menubar" id="menubar">
        {% if page.branding %}
          {{ page.branding }}
        {% endif %}
        {% if page.titlebar_left %}
          {{ page.titlebar_left }}
        {% endif %}
        {% if page.titlebar_left and page.titlebar_right %}
          <hr/>
        {% endif %}
        {% if page.titlebar_right %}
          {{ page.titlebar_right }}
        {% endif %}
      </div>
    {% endif %}
    {#
    Top Bar Region. Used as secondary navigation. Does not toggle on
    smaller screen.
    #}
    {% if page.topbar_left or page.topbar_right %}
      <div class="top-bar actionbar">
        {% if page.topbar_left %}
          {{ page.topbar_left }}
        {% endif %}
        {% if page.topbar_right %}
          {{ page.topbar_right }}
        {% endif %}
      </div>
    {% endif %}
  </header>
</div>

<main id="page-wrapper" class="page container">
  {#
  Main container. Here will be displayed most of the content of our
  site's pages.
  #}
  <section id="main-wrapper" class="page content">

    {# Displays Drupal system messages. #}
    {% if page.messages %}
      {{ page.messages }}
    {% endif %}

    {# Displays breadcrumbs. #}
    {% if page.breadcrumbs %}
      {{ page.breadcrumbs }}
    {% endif %}

    {# Displays Drupal local actions and local tasks menu.. #}
    {% if page.actions %}
      {{ page.actions }}
    {% endif %}

    {# Adjust the content region width if the sidebar is rendered. #}
    <section id="content" class="page inner" role="main">
      {# Offcanvas trigger. #}
      {% if page.off_canvas_left %}
        <button type="button" class="button" data-toggle="off-canvas-left">Open</button>
      {% endif %}
      {% if page.off_canvas_right %}
        <button type="button" class="button" data-toggle="off-canvas-right">Open</button>
      {% endif %}
      <div class="region-main-container">
        <a id="main-content" tabindex="-1"></a>
        {# Main content of the page. #}
        {{ page.content }}
      </div>
    </section>

    {# Sidebar region. #}
    {% if page.sidebar_left %}
      <aside id="sidebar-left" class="page sidebar" role="complementary">
        {{ page.sidebar_left }}
      </aside>
    {% endif %}
    {% if page.sidebar_right %}
      <aside id="sidebar-right" class="page sidebar" role="complementary">
        {{ page.sidebar_right }}
      </aside>
    {% endif %}

    {# Offcanvas region. #}
    {% if page.off_canvas_left %}
      {{ page.off_canvas_left }}
    {% endif %}
    {% if page.off_canvas_right %}
      {{ page.off_canvas_right }}
    {% endif %}

  </section>

</main>

<footer class="page footer wrapper">
  {#
  This content will be displyed before the footer.
  #}
  {% if page.footer_top_left or page.footer_top_center or page.footer_top_right %}
    <aside id="footer-intro" class="footer intro" role="complementary">
      <div class="footer inner">
        <div id="footer-top-left" class="footer column">
          {{ page.footer_top_left }}
        </div>
        <div id="footer-top-center" class="footer column">
          {{ page.footer_top_center }}
        </div>
        <div id="footer-top-right" class="footer column">
          {{ page.footer_top_right }}
        </div>
      </div>
    </aside>
  {% endif %}
  {#
  This is the real footer of our site.
  #}
  <div id="footer-main" class="footer main">
    {% if page.footer_left or page.footer_right %}
      <div id="footer-main-inner" class="footer main-inner">
        <div id="footer-main-left" class="footer main-left">
          {{ page.footer_left }}
        </div>
        <div id="footer-main-right" class="footer main-right">
          {{ page.footer_right }}
        </div>
      </div>
    {% endif %}
    {#
    End of page region. Copyright or a statement.
    #}
    {% if page.end_of_page %}
      <hr>
      <aside id="footer-end-of-page" class="footer end-of-page">
        <div class="footer end-of-page inner">
          {{ page.end_of_page }}
        </div>
      </aside>
    {% endif %}
  </div>

</footer>
