/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.message {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }
  .message button {
    box-shadow: none; }
  .message.alert {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(24, 64, 91, 0.25);
    border-radius: 0;
    background-color: #fdecea;
    color: #212121;
    background-color: #f28072;
    border-bottom: thin solid #e92d15;
    border-left: 0.625rem solid #e92d15;
    border-right: thin solid #e92d15;
    border-top: thin solid #e92d15; }
    .message.alert > :first-child {
      margin-top: 0; }
    .message.alert > :last-child {
      margin-bottom: 0; }
    .message.alert ul {
      list-style-image: url("../../assets/icons/000000/ex.svg"); }
  .message.status ul, .message.success ul {
    list-style-image: url("../../assets/icons/000000/check.svg"); }
  .message.warning {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(24, 64, 91, 0.25);
    border-radius: 0;
    background-color: #fdfdf1;
    color: #212121;
    background-color: #f2f2a4;
    border-bottom: thin solid #e5e54b;
    border-left: 0.625rem solid #e5e54b;
    border-right: thin solid #e5e54b;
    border-top: thin solid #e5e54b; }
    .message.warning > :first-child {
      margin-top: 0; }
    .message.warning > :last-child {
      margin-bottom: 0; }
    .message.warning ul {
      list-style-image: url("../../assets/icons/000000/questionmark-disc.svg"); }
  .message.status, .message.success {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(24, 64, 91, 0.25);
    border-radius: 0;
    background-color: #f8fdf7;
    color: #212121;
    background-color: #d0f2c7;
    border-bottom: thin solid #8bdf74;
    border-left: 0.625rem solid #8bdf74;
    border-right: thin solid #8bdf74;
    border-top: thin solid #8bdf74; }
    .message.status > :first-child, .message.success > :first-child {
      margin-top: 0; }
    .message.status > :last-child, .message.success > :last-child {
      margin-bottom: 0; }
  .message-text {
    letter-spacing: 0.125rem;
    margin-bottom: 0;
    margin-top: 1rem;
    padding: 1rem; }
    .message-text a {
      color: #212121;
      font-weight: bolder;
      letter-spacing: 0.0625rem;
      line-height: 1; }
      .message-text a.is-active, .message-text a:active, .message-text a:focus {
        outline: #1976d2; }
      .message-text a:hover {
        color: #212121;
        text-decoration: underline; }
