/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.node {
  border: thin solid #1181cd;
  box-shadow: 0 0.125rem 0.3125rem 0 #8a8a8a, 0 0.125rem 0.625rem 0 #e3e3e3;
  margin-bottom: 5rem;
  padding: 0 1rem; }
  .node h3 {
    letter-spacing: 0.375rem;
    text-transform: uppercase; }
  .node aside {
    font-size: 0.9rem; }
  .node-author {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    border-top: thin solid #1181cd;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }
    .node-author-inner {
      line-height: 4.6875rem;
      vertical-align: middle; }
      .node-author-inner div.field-uid,
      .node-author-inner span {
        display: inline; }
  .node-body {
    width: calc(100% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem; }
  .node-content {
    display: flex;
    flex-flow: row wrap; }
    .node-content-header {
      width: calc(100% - 1.25rem);
      margin-right: 0.625rem;
      margin-left: 0.625rem;
      background-color: transparent; }
  .node-title {
    width: calc(100% - 1.25rem);
    margin-right: 0.625rem;
    margin-left: 0.625rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem; }
  .node figure img {
    height: auto;
    margin-bottom: 1rem;
    max-width: 100%;
    width: 100%; }
