/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.search-advanced div.accordion-content {
  background-color: transparent; }

.search-result {
  padding: 0; }
  .search-result.container {
    margin-bottom: 2rem;
    padding-top: 1rem; }
  .search-result.info {
    font-size: 0.9rem; }
    .search-result.info-snippet {
      font-weight: lighter;
      letter-spacing: 0.375rem; }
  .search-result.title {
    min-height: 3rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase; }
    .search-result.title h4 {
      line-height: 3rem;
      vertical-align: middle; }
