/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.4.4-rc1
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.draggable td.block {
  line-height: 1.75rem;
  padding: 1rem;
  vertical-align: middle; }

.tabledrag-toggle-weight-wrapper {
  padding: 1rem; }
  .tabledrag-toggle-weight-wrapper button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #808e95;
    color: #808e95;
    box-shadow: #8a8a8a; }
    [data-whatinput='mouse'] .tabledrag-toggle-weight-wrapper button {
      outline: 0; }
    .tabledrag-toggle-weight-wrapper button, .tabledrag-toggle-weight-wrapper button:hover, .tabledrag-toggle-weight-wrapper button:focus {
      background-color: transparent; }
    .tabledrag-toggle-weight-wrapper button.disabled, .tabledrag-toggle-weight-wrapper button.disabled:hover, .tabledrag-toggle-weight-wrapper button.disabled:focus, .tabledrag-toggle-weight-wrapper button[disabled], .tabledrag-toggle-weight-wrapper button[disabled]:hover, .tabledrag-toggle-weight-wrapper button[disabled]:focus {
      background-color: transparent; }
    .tabledrag-toggle-weight-wrapper button:hover, .tabledrag-toggle-weight-wrapper button:focus {
      border-color: #3f474b;
      color: #3f474b; }
      .tabledrag-toggle-weight-wrapper button:hover.disabled, .tabledrag-toggle-weight-wrapper button:hover[disabled], .tabledrag-toggle-weight-wrapper button:focus.disabled, .tabledrag-toggle-weight-wrapper button:focus[disabled] {
        border: 1px solid #808e95;
        color: #808e95; }

a.tabledrag-handle {
  height: 1.75rem;
  width: 1.75rem; }
  a.tabledrag-handle > .handle {
    height: 1.75rem;
    margin: 0;
    padding: 0;
    width: 1.75rem; }

table select.form-select {
  margin: 0; }

table td div.dropbutton-widget {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0; }

table td div.dropbutton-wrapper {
  padding-right: 1rem; }
  table td div.dropbutton-wrapper.dropbutton-multiple {
    padding-right: 5rem; }

table tr.region-title {
  border-bottom: thin solid #1976d2;
  border-top: medium solid #1976d2; }
  table tr.region-title div.form-wrapper {
    margin-top: 0.5rem;
    vertical-align: middle; }
